---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyseerr
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
spec:
  interval: 30m
  chart:
    spec:
      verify:
        provider: cosign
      chart: app-template
      version: 3.6.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: volsync
      namespace: volsync-system

  values:
    controllers:
      jellyseerr:
        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          init-db:
            image:
              repository: ghcr.io/buroa/postgres-init
              tag: 17.2@sha256:92f971d2d9ebe4b060b4bc44dfb13e0baaf68489184b742fae42cc83c7a78c0c
            env:
              INIT_POSTGRES_DBNAME: &dbName jellyseerr
              INIT_POSTGRES_HOST: &dbHost postgres17-rw.database.svc.cluster.local
              INIT_POSTGRES_USER:
                valueFrom:
                  secretKeyRef:
                    name: &secret jellyseerr-secret
                    key: POSTGRES_USER
              INIT_POSTGRES_PASS:
                valueFrom:
                  secretKeyRef:
                    name: *secret
                    key: POSTGRES_PASS
              INIT_POSTGRES_SUPER_PASS:
                valueFrom:
                  secretKeyRef:
                    name: *secret
                    key: POSTGRES_SUPER_PASS
            securityContext: &securityContext
              privileged: false
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

        containers:
          app:
            image:
              repository: ghcr.io/fallenbagel/jellyseerr
              tag: develop@sha256:ff5b630555c460291776f372cf74bb281baaf62c5ee70812294cf0b413651015
            env:
              TZ: Europe/Sofia
              LOG_LEVEL: "info"
              PORT: &port 80
              DB_TYPE: postgres
              DB_HOST: *dbHost
              DB_PORT: 5432
              DB_NAME: *dbName
              DB_USER:
                valueFrom:
                  secretKeyRef:
                    name: *secret
                    key: POSTGRES_USER
              DB_PASS:
                valueFrom:
                  secretKeyRef:
                    name: *secret
                    key: POSTGRES_PASS
              DB_USE_SSL: "true"
              DB_SSL_CA_FILE: /etc/ssl/certs/cnpg-ca.crt
              DB_LOG_QUERIES: "false"
              DB_SSL_REJECT_UNAUTHORIZED: "true"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v1/status
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext: *securityContext
            resources:
              requests:
                cpu: 10m
                memory: 512Mi
              limits:
                memory: 2Gi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }

    service:
      app:
        controller: jellyseerr
        ports:
          http:
            port: *port

    ingress:
      app:
        annotations:
          nginx.ingress.kubernetes.io/configuration-snippet: |
            more_set_headers "access-control-allow-origin https://requests.darkfellanetwork.com";
            proxy_set_header Accept-Encoding "";
            sub_filter '</body>' '<link rel="stylesheet" type="text/css" href="https://theme-park.dev/css/base/overseerr/mind.css"></body>';
            sub_filter_once on;
          cert-manager.io/cluster-issuer: zerossl-prod
          cert-manager.io/private-key-rotation-policy: Always
          cert-manager.io/private-key-algorithm: ECDSA
          cert-manager.io/private-key-size: "384"
        className: external
        tls:
          - hosts:
              - &host requests.darkfellanetwork.com
            secretName: jellyseerr-tls
        hosts:
          - host: *host
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        size: 20Gi
        accessMode: ReadWriteOnce
        storageClass: openebs-zfs-128k
        advancedMounts:
          jellyseerr:
            app:
              - path: /app/config

      logs:
        type: emptyDir
        advancedMounts:
          jellyseerr:
            app:
              - path: /app/config/logs

      tmp:
        type: emptyDir
        advancedMounts:
          jellyseerr:
            app:
              - path: /tmp

      cnpg-ca-cert:
        type: secret
        name: *secret
        advancedMounts:
          jellyseerr:
            app:
              - path: /etc/ssl/certs/cnpg-ca.crt
                subPath: cnpg-ca.crt
                readOnly: true

    rawResources:
      secret:
        enabled: true
        apiVersion: external-secrets.io/v1beta1
        kind: ExternalSecret
        spec:
          spec:
            secretStoreRef:
              kind: ClusterSecretStore
              name: vault-backend
            target:
              name: *secret
              template:
                engineVersion: v2
                data:
                  POSTGRES_USER: '{{ "{{ .JELLYSEERR_POSTGRES_USER }}" }}'
                  POSTGRES_PASS: '{{ "{{ .JELLYSEERR_POSTGRES_PASS }}" }}'
                  POSTGRES_SUPER_PASS: '{{ "{{ .POSTGRES_SUPER_PASS }}" }}'
                  cnpg-ca.crt: '{{ "{{ index . \"cnpg-ca.crt\" }}" }}'
            dataFrom:
              - extract:
                  key: secrets/cloudnative-pg
            data:
              - secretKey: cnpg-ca.crt
                remoteRef:
                  key: secrets/certificates/cnpg
                  property: ca.crt

    configMaps:
      gatus-ep:
        enabled: true
        labels:
          gatus.io/enabled: "true"
        data:
          config.yaml: |
            endpoints:
              - name: "Jellyseerr"
                group: external
                url: "https://requests.darkfellanetwork.com/api/v1/status"
                interval: 1m
                client:
                  dns-resolver: tcp://1.1.1.1:53
                conditions:
                  - "[STATUS] == 200"
                  - "has([BODY].version) == true"
                alerts:
                  - type: pushover
