---
apiVersion: k8s.keycloak.org/v2alpha1
kind: Keycloak
metadata:
  name: keycloak
spec:
  unsupported:
    podTemplate:
      spec:
        volumes:
          - name: postgres-ca
            secret:
              secretName: &secret keycloak-secret
          - name: tmpfs
            emptyDir: {}
          - name: data
            emptyDir: {}
        containers:
          - name: keycloak
            env:
              - name: KC_DB_URL_PROPERTIES
                value: "?sslmode=verify-full&sslrootcert=/etc/ssl/certs/cnpg-ca.crt"
            volumeMounts:
              - name: postgres-ca
                mountPath: /etc/ssl/certs/cnpg-ca.crt
                subPath: ca.crt
                readOnly: true
              - name: data
                mountPath: /opt/keycloak/data
              - name: tmpfs
                mountPath: /tmp
            securityContext: &securityContext
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

        initContainers:
          - name: init-db
            image: "ghcr.io/d4rkfella/postgres-init:0.1.0@sha256:09bd1cce1f082e3bd6ab3121e370abbd4a0eb771ead1f7c0143d9f4a660c63be"
            imagePullPolicy: IfNotPresent
            env:
              - name: POSTGRES_HOST
                value: &dbHost postgres-db-rw.database.svc.cluster.local
              - name: POSTGRES_PORT
                value: '5432'
              - name: POSTGRES_SSLMODE
                value: require
              - name: POSTGRES_DBNAME
                value: &dbName keycloak
              - name: POSTGRES_SUPER_USER
                value: postgres
              - name: POSTGRES_SUPER_PASS
                valueFrom:
                  secretKeyRef:
                    name: *secret
                    key: POSTGRES_SUPER_PASS
              - name: POSTGRES_USER
                valueFrom:
                  secretKeyRef:
                    name: *secret
                    key: POSTGRES_USERNAME
              - name: POSTGRES_PASS
                valueFrom:
                  secretKeyRef:
                    name: *secret
                    key: POSTGRES_PASSWORD
            securityContext: *securityContext

        securityContext:
          runAsUser: 65532
          runAsGroup: 65532
          runAsNonRoot: true
          seccompProfile: { type: RuntimeDefault }

        hostUsers: false

  db:
    vendor: postgres
    usernameSecret:
      name: *secret
      key: POSTGRES_USERNAME
    passwordSecret:
      name: *secret
      key: POSTGRES_PASSWORD
    host: *dbHost
    database: *dbName
    port: 5432
    schema: public

  instances: 1

  image: ghcr.io/d4rkfella/keycloak:26.4.5@sha256:b26230bb865dbe25da257c7877a29d7b11553e0998889b7dfca385bfa48c0bdc

  startOptimized: true

  #bootstrapAdmin:
    #user:
      #secret: *secret

  proxy:
    headers: xforwarded

  hostname:
    hostname: https://accounts.darkfellanetwork.com

  http:
    httpEnabled: true
    httpPort: 80

  ingress:
    enabled: false
