apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: bazarr
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: hashicorp-vault
  target:
    name: bazarr-secret
  dataFrom:
    - extract:
        key: secrets/bazarr
    - extract:
        key: secrets/dragonfly
