---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app bazarr
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      bazarr:
        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          oauth2-proxy:
            image:
              repository: ghcr.io/d4rkfella/oauth2-proxy
              tag: 7.13.0@sha256:44852143d7b9c79b524f3c51c9fbe052e7fd80424e29de848fe106c45ec5bada
            args:
              - --config=/etc/oauth2-proxy.cfg
            env:
              OAUTH2_PROXY_REDIS_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: &secret "{{ .Release.Name }}-secret"
                    key: DRAGONFLY_PASSWORD
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /oauth2/ping
                    port: &port 4180
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /oauth2/ready
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
            securityContext: &securityContext
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            restartPolicy: Always

        containers:
          app:
            image:
              repository: ghcr.io/d4rkfella/bazarr
              tag: 1.5.4@sha256:77a76eb94f2927afc240a9181cadeee94f4bfdd9116a7b2371e737dcf4ec96b2
            env:
              TZ: Europe/Sofia
              POSTGRES_ENABLED: "true"
              POSTGRES_HOST: postgres-db-rw.database.svc.cluster.local
              POSTGRES_PORT: 5432
              POSTGRES_DATABASE: bazarr
              POSTGRES_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: *secret
                    key: POSTGRES_USERNAME
              POSTGRES_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: *secret
                    key: POSTGRES_PASSWORD
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/system/ping
                    port: *port
                  initialDelaySeconds: 5
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext: *securityContext
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 4Gi

    defaultPodOptions:
      hostAliases:
        - ip: "192.168.91.52"
          hostnames:
            - "radarr.darkfellanetwork.com"
            - "sonarr.darkfellanetwork.com"
        - ip: "192.168.91.54"
          hostnames:
            - "plex.darkfellanetwork.com"
        - ip: "192.168.91.51"
          hostnames:
            - "accounts.darkfellanetwork.com"
      securityContext:
        runAsNonRoot: true
        runAsUser: 65532
        runAsGroup: 65532
        fsGroup: 65532
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }

    service:
      app:
        controller: bazarr
        ports:
          http:
            port: *port

    route:
      app:
        hostnames: ["bazarr.darkfellanetwork.com"]
        parentRefs:
          - name: internal
            namespace: envoy-gateway-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
            timeouts:
              request: 1200s

    persistence:
      config:
        existingClaim: *app
        advancedMounts:
          bazarr:
            app:
              - path: /config

      log:
        type: emptyDir
        advancedMounts:
          bazarr:
            app:
              - path: /config/log

      cache:
        type: emptyDir
        advancedMounts:
          bazarr:
            app:
              - path: /config/cache

      tmp:
        type: emptyDir
        advancedMounts:
          bazarr:
            app:
              - path: /tmp

      media:
        type: nfs
        server: 192.168.91.40
        path: /mnt/exos20/data/media
        advancedMounts:
          bazarr:
            app:
              - path: /data/media

      secrets:
        type: secret
        name: *secret
        advancedMounts:
          bazarr:
            oauth2-proxy:
              - path: /etc/oauth2-proxy.cfg
                subPath: oauth2-proxy.cfg
                readOnly: true
              - path: /etc/ssl/certs/Internal-Root-CA.crt
                subPath: ca.crt
                readOnly: true
