---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/pushsecret_v1alpha1.json
apiVersion: external-secrets.io/v1alpha1
kind: PushSecret
metadata:
  name: cnpg-cluster-tls
spec:
  secretStoreRefs:
    - name: hashicorp-vault
      kind: ClusterSecretStore
  selector:
    secret:
      name: postgres17-ca
  template:
    engineVersion: v2
    data:
      ca.crt: '{{ index . "ca.crt" }}'
  data:
    - match:
        secretKey: &key ca.crt
        remoteRef:
          remoteKey: certificates/cnpg
          property: *key
