---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &secret zfs-scrubber-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: hashicorp-vault
  target:
    name: *secret
    template:
      engineVersion: v2
      data:
        PUSHOVER_USER_KEY: "{{ .PUSHOVER_USER_KEY }}"
        PUSHOVER_API_TOKEN: "{{ .SCRUBBER_PUSHOVER_TOKEN }}"
  dataFrom:
    - extract:
        key: secrets/pushover
