---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: 68.3.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  install:
    crds: Skip
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: Skip
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: prometheus-operator-crds
      namespace: observability
  values:
    crds:
      enabled: false
    cleanPrometheusOperatorObjectNames: true
    alertmanager:
      service:
        targetPort: oauth-proxy
      serviceMonitor:
        selfMonitor: false
      ingress:
        enabled: true
        annotations:
          cert-manager.io/cluster-issuer: zerossl-prod
          cert-manager.io/private-key-rotation-policy: Always
          cert-manager.io/private-key-algorithm: ECDSA
          cert-manager.io/private-key-size: "384"
          nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
        ingressClassName: internal
        tls:
          - hosts: &host ["alertmanager.darkfellanetwork.com"]
            secretName: alertmanager-tls
        hosts: *host
        pathType: Prefix
      alertmanagerSpec:
        listenLocal: true
        externalUrl: "https://alertmanager.darkfellanetwork.com"
        alertmanagerConfiguration:
          name: alertmanager
          global:
            resolveTimeout: 5m
        storage:
          volumeClaimTemplate:
            spec:
              storageClassName: openebs-zfs-128k
              resources:
                requests:
                  storage: 1Gi
        containers:
          - name: oauth-proxy
            image: quay.io/oauth2-proxy/oauth2-proxy:v7.8.1-amd64@sha256:543e19accc96055a00f42ed93525ae04008bea3d7debe1d912096f8f20978033
            args:
            - --config=/vault/secrets/oauth2-proxy.cfg
            ports:
            - containerPort: 8082
              name: oauth-proxy
              protocol: TCP
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            volumeMounts:
              - name: alertmanager
                mountPath: /vault/secrets/oauth2-proxy.cfg
                subPath: oauth2-proxy.cfg
                readOnly: true
              - name: alertmanager-internal-tls
                mountPath: /etc/ssl/certs/darkfellanet-internal-root-ca.crt
                subPath: ca.crt
                readOnly: true
              - name: alertmanager-internal-tls
                mountPath: /vault/secrets/tls
                readOnly: true
        volumes:
          - name: alertmanager
            csi:
              driver: secrets-store.csi.k8s.io
              readOnly: true
              volumeAttributes:
                secretProviderClass: alertmanager
          - name: alertmanager-internal-tls
            secret:
              secretName: alertmanager-internal-tls
              defaultMode: 256
        securityContext:
          runAsGroup: 65534
          runAsNonRoot: true
          runAsUser: 65534
          fsGroup: 65534
          fsGroupChangePolicy: Always
          seccompProfile:
            type: RuntimeDefault
    kubeApiServer:
      serviceMonitor:
        selector:
          k8s-app: kube-apiserver
    kubeScheduler:
      service:
        selector:
          k8s-app: kube-scheduler
    kubeControllerManager: &kubeControllerManager
      service:
        selector:
          k8s-app: kube-controller-manager
    kubeEtcd:
      enabled: true
      service:
        selector:
          k8s-app: kube-controller-manager
      serviceMonitor:
        relabelings:
          - sourceLabels: [__meta_kubernetes_pod_node_name]
            separator: ;
            regex: ^(.*)$
            targetLabel: nodename
            replacement: $1
            action: replace
        metricRelabelings:
          - action: labeldrop
            regex: pod
    kubeProxy:
      enabled: false
    prometheus:
      service:
        targetPort: oauth-proxy
      serviceMonitor:
        selfMonitor: false
      ingress:
        enabled: true
        annotations:
          cert-manager.io/cluster-issuer: zerossl-prod
          cert-manager.io/private-key-rotation-policy: Always
          cert-manager.io/private-key-algorithm: ECDSA
          cert-manager.io/private-key-size: "384"
          nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
        ingressClassName: internal
        tls:
          - hosts: &host ["prometheus.darkfellanetwork.com"]
            secretName: prometheus-tls
        hosts: *host
        pathType: Prefix
      prometheusSpec:
        listenLocal: true
        externalUrl: "https://prometheus.darkfellanetwork.com"
        podMetadata:
          annotations:
            vault.hashicorp.com/agent-inject: "true"
            vault.hashicorp.com/agent-init-first: "true"
            vault.hashicorp.com/agent-inject-token: "true"
            vault.hashicorp.com/role: "prometheus"
            vault.hashicorp.com/agent-inject-containers: "prometheus"
            vault.hashicorp.com/agent-run-as-group: "65534"
        additionalAlertManagerConfigs:
          - scheme: https
            follow_redirects: true
            enable_http2: true
            path_prefix: /
            timeout: 10s
            api_version: v2
            tls_config:
              server_name: alertmanager-operated
              insecure_skip_verify: false
            relabel_configs:
            - source_labels: [__meta_kubernetes_service_name]
              separator: ;
              regex: alertmanager-operated
              replacement: $1
              action: keep
            - source_labels: [__meta_kubernetes_pod_container_port_number]
              separator: ;
              regex: "8082"
              replacement: $1
              action: keep
            kubernetes_sd_configs:
            - role: endpoints
              kubeconfig_file: ""
              follow_redirects: true
              enable_http2: true
              namespaces:
                own_namespace: true
            oauth2:
              client_id: b257908e-34ad-4933-98a0-ca00ff6fcfdd
              client_secret_file: /vault/secrets/client_secret
              token_url: https://accounts.darkfellanetwork.com/realms/DarkfellaNET/protocol/openid-connect/token
              scopes: ["openid", "profile", "email"]
              endpoint_params:
                grant_type: client_credentials
        alertingEndpoints: {}
        podMonitorSelectorNilUsesHelmValues: false
        probeSelectorNilUsesHelmValues: false
        ruleSelectorNilUsesHelmValues: false
        scrapeConfigSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
        enableAdminAPI: false
        walCompression: true
        enableFeatures:
          - memory-snapshot-on-shutdown
        retention: 14d
        retentionSize: 70GB
        resources:
          requests:
            cpu: 100m
          limits:
            memory: 1500Mi
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: openebs-zfs-128k
              resources:
                requests:
                  storage: 75Gi
        additionalScrapeConfigs:
          - job_name: vault
            metrics_path: /v1/sys/metrics
            params:
              format: ['prometheus']
            scheme: https
            authorization:
              credentials_file: /vault/secrets/token
            static_configs:
              - targets: ['vault.darkfellanetwork.com:8200']
        containers:
          - name: oauth-proxy
            image: quay.io/oauth2-proxy/oauth2-proxy:v7.8.1-amd64@sha256:543e19accc96055a00f42ed93525ae04008bea3d7debe1d912096f8f20978033
            args:
            - --config=/vault/secrets/oauth2-proxy.cfg
            ports:
            - containerPort: 8082
              name: oauth-proxy
              protocol: TCP
            resources: {}
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            volumeMounts:
              - name: prometheus
                mountPath: /vault/secrets/oauth2-proxy.cfg
                subPath: oauth2-proxy.cfg
                readOnly: true
              - name: prometheus-internal-tls
                mountPath: /etc/ssl/certs/darkfellanet-internal-root-ca.crt
                subPath: ca.crt
                readOnly: true
              - name: prometheus-internal-tls
                mountPath: /vault/secrets/tls
                readOnly: true
        volumes:
          - name: prometheus
            csi:
              driver: secrets-store.csi.k8s.io
              readOnly: true
              volumeAttributes:
                secretProviderClass: prometheus
          - name: prometheus-internal-tls
            secret:
              secretName: prometheus-internal-tls
              defaultMode: 256
        volumeMounts:
          - name: prometheus
            mountPath: /vault/secrets/client_secret
            subPath: client_secret
            readOnly: true
          - name: prometheus-internal-tls
            mountPath: /etc/ssl/certs/darkfellanet-internal-root-ca.crt
            subPath: ca.crt
            readOnly: true
        securityContext:
          runAsGroup: 65534
          runAsNonRoot: true
          runAsUser: 65534
          fsGroup: 65534
          fsGroupChangePolicy: Always
          seccompProfile:
            type: RuntimeDefault
    prometheus-node-exporter:
      fullnameOverride: node-exporter
      prometheus:
        monitor:
          enabled: true
          relabelings:
            - action: replace
              regex: (.*)
              replacement: $1
              sourceLabels: ["__meta_kubernetes_pod_node_name"]
              targetLabel: kubernetes_node
    kube-state-metrics:
      fullnameOverride: kube-state-metrics
      metricLabelsAllowlist:
        - pods=[*]
        - deployments=[*]
        - persistentvolumeclaims=[*]
      prometheus:
        monitor:
          enabled: true
          relabelings:
            - action: replace
              regex: (.*)
              replacement: $1
              sourceLabels: ["__meta_kubernetes_pod_node_name"]
              targetLabel: kubernetes_node
    grafana:
      enabled: false
      forceDeployDashboards: true

    additionalPrometheusRulesMap:
      dockerhub-rules:
        groups:
          - name: dockerhub
            rules:
              - alert: DockerhubRateLimitRisk
                annotations:
                  summary: Kubernetes cluster Dockerhub rate limit risk
                expr: count(time() - container_last_seen{image=~"(docker.io).*",container!=""} < 30) > 100
                labels:
                  severity: critical
      oom-rules:
        groups:
          - name: oom
            rules:
              - alert: OomKilled
                annotations:
                  summary: Container {{ $labels.container }} in pod {{ $labels.namespace }}/{{ $labels.pod }} has been OOMKilled {{ $value }} times in the last 10 minutes.
                expr: (kube_pod_container_status_restarts_total - kube_pod_container_status_restarts_total offset 10m >= 1) and ignoring (reason) min_over_time(kube_pod_container_status_last_terminated_reason{reason="OOMKilled"}[10m]) == 1
                labels:
                  severity: critical
      #zfs-rules:
        #groups:
          #- name: zfs
            #rules:
              #- alert: ZfsUnexpectedPoolState
                #annotations:
                  #summary: ZFS pool {{$labels.zpool}} on {{$labels.instance}} is in a unexpected state {{$labels.state}}
                #expr: node_zfs_zpool_state{state!="online"} > 0
                #labels:
                  #severity: critical
