---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kubelet-csr-approver
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: kubelet-csr-approver
  values:
    replicas: 1
    providerRegex: ^k8s-\d$
    bypassDnsResolution: true
    metrics:
      enable: true
      serviceMonitor:
        enabled: true
