---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app vaultwarden
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      vaultwarden:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/d4rkfella/vaultwarden
              tag: 1.35.0@sha256:1c736cbe3ccb8a8db9661fa5f336968afaebad47ad640da0f6b7940d71cd80bf
            env:
              SSO_ENABLED: "true"
              SSO_ONLY: "true"
              SSO_AUTHORITY: https://accounts.darkfellanetwork.com/realms/DarkfellaNET
              SSO_CLIENT_ID: f7126e9c-bcc7-4182-8510-8ab70a6eb6a8
              SSO_CLIENT_SECRET:
                valueFrom:
                  secretKeyRef:
                    name: &secret "{{ .Release.Name }}-secret"
                    key: SSO_CLIENT_SECRET
              SSO_ALLOW_UNKNOWN_EMAIL_VERIFICATION: "false"
              DATA_FOLDER: data
              ICON_CACHE_FOLDER: data/icon_cache
              ATTACHMENTS_FOLDER: data/attachments
              DOMAIN: https://vaultwarden.darkfellanetwork.com
              TZ: "Europe/Sofia"
              SMTP_AUTH_MECHANISM: Login
              SMTP_HOST: smtp-relay.brevo.com
              SMTP_FROM: noreply@darkfellanetwork.com
              SMTP_FROM_NAME: vaultwarden
              SMTP_PORT: 587
              SMTP_SECURITY: starttls
              SMTP_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: *secret
                    key: SMTP_USERNAME
              SMTP_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: *secret
                    key: SMTP_PASSWORD
              DATABASE_URL:
                valueFrom:
                  secretKeyRef:
                    name: *secret
                    key: DATABASE_URL
              PUSH_ENABLED: true
              PUSH_INSTALLATION_ID:
                valueFrom:
                  secretKeyRef:
                    name: *secret
                    key: PUSH_INSTALLATION_ID
              PUSH_INSTALLATION_KEY:
                valueFrom:
                  secretKeyRef:
                    name: *secret
                    key: PUSH_INSTALLATION_KEY
              PUSH_RELAY_URI: https://api.bitwarden.eu
              PUSH_IDENTITY_URI: https://identity.bitwarden.eu
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /alive
                    port: &port 80
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
                memory: 100Mi
              limits:
                memory: 2Gi

    defaultPodOptions:
      hostUsers: false
      hostAliases:
        - ip: "192.168.91.51"
          hostnames:
            - "accounts.darkfellanetwork.com"
      securityContext:
        runAsNonRoot: true
        runAsUser: 65532
        runAsGroup: 65532
        fsGroup: 65532
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }

    service:
      app:
        controller: *app
        ports:
          http:
            port: *port

    route:
      app:
        hostnames: ["{{ .Release.Name }}.darkfellanetwork.com"]
        parentRefs:
          - name: external
            namespace: envoy-gateway-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      data:
        suffix: data
        type: persistentVolumeClaim
        size: 15Gi
        accessMode: ReadWriteOnce
        storageClass: openebs-zfs-128k
        globalMounts:
          - path: /data

      secrets:
        type: secret
        name: *secret
        globalMounts:
          - path: /etc/ssl/certs/postgres-ca.crt
            subPath: postgres-ca.crt
            readOnly: true
