---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
resources:
  - ./namespace.yaml
  - ./jellyseerr/ks.yaml
  - ./radarr/ks.yaml
  - ./sonarr/ks.yaml
  - ./unpackerr/ks.yaml
  - ./autobrr/ks.yaml
  - ./bazarr/ks.yaml
  - ./qbittorrent/ks.yaml
  - ./prowlarr/ks.yaml
  - ./flaresolverr/ks.yaml
  - ./cross-seed/ks.yaml
  - ./recyclarr/ks.yaml
  - ./jellyfin/ks.yaml
components:
  - ../../components/common
  - ../../components/repos/app-template
transformers:
  - ./transformers
