[submodule "kubernetes/apps/openebs-system/external-snapshotter-crd"]
	path = kubernetes/apps/openebs-system/external-snapshotter-crd
	url = https://github.com/kubernetes-csi/external-snapshotter.git
	branch = v8.2.0
