[submodule "kubernetes/apps/openebs-system/external-snapshotter"]
	path = kubernetes/apps/openebs-system/external-snapshotter
	url = https://github.com/kubernetes-csi/external-snapshotter.git
	branch = v8.2.1
