---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/gateway.envoyproxy.io/envoyproxy_v1alpha1.json
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: EnvoyProxy
metadata:
  name: envoy
spec:
  ipFamily: IPv4
  logging:
    level:
      default: info
  provider:
    type: Kubernetes
    kubernetes:
      envoyDeployment:
        replicas: 1
        container:
          image: mirror.gcr.io/envoyproxy/envoy:v1.36.4
          resources:
            requests:
              cpu: 100m
            limits:
              memory: 2Gi
      envoyService:
        externalTrafficPolicy: Local
  shutdown:
    drainTimeout: 180s
  telemetry:
    metrics:
      prometheus:
        compression:
          type: Gzip
---
apiVersion: gateway.networking.k8s.io/v1
kind: GatewayClass
metadata:
  name: envoy
spec:
  controllerName: gateway.envoyproxy.io/gatewayclass-controller
  parametersRef:
    group: gateway.envoyproxy.io
    kind: EnvoyProxy
    name: envoy
    namespace: envoy-gateway-system
---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: external
  annotations:
    external-dns.alpha.kubernetes.io/target: &hostname external.darkfellanetwork.com
spec:
  gatewayClassName: envoy
  addresses:
    - type: IPAddress
      value: 192.168.91.51
  infrastructure:
    annotations:
      external-dns.alpha.kubernetes.io/hostname: *hostname
      lbipam.cilium.io/ips: 192.168.91.51
  listeners:
    - name: http
      protocol: HTTP
      port: 80
      hostname: "*.darkfellanetwork.com"
      allowedRoutes:
        namespaces:
          from: Same
    - name: https
      protocol: HTTPS
      port: 443
      hostname: "*.darkfellanetwork.com"
      allowedRoutes:
        namespaces:
          from: All
      tls:
        certificateRefs:
          - kind: Secret
            name: darkfellanet-tls
---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: internal
  annotations:
    external-dns.alpha.kubernetes.io/target: &hostname internal.darkfellanetwork.com
spec:
  gatewayClassName: envoy
  addresses:
    - type: IPAddress
      value: 192.168.91.52
  infrastructure:
      annotations:
        external-dns.alpha.kubernetes.io/hostname: *hostname
        lbipam.cilium.io/ips: 192.168.91.52
  listeners:
    - name: http
      protocol: HTTP
      port: 80
      hostname: "*.darkfellanetwork.com"
      allowedRoutes:
        namespaces:
          from: Same
    - name: https
      protocol: HTTPS
      port: 443
      hostname: "*.darkfellanetwork.com"
      allowedRoutes:
        namespaces:
          from: All
      tls:
        mode: Terminate
        certificateRefs:
          - kind: Secret
            name: darkfellanet-tls
---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: artifactory
spec:
  gatewayClassName: envoy
  addresses:
    - type: IPAddress
      value: 192.168.91.50
  infrastructure:
      annotations:
        lbipam.cilium.io/ips: 192.168.91.50
  listeners:
    - name: http
      protocol: HTTP
      port: 80
      hostname: "packages.darkfellanetwork.com"
      allowedRoutes:
        namespaces:
          from: Same
    - name: https
      protocol: HTTPS
      port: 443
      hostname: "packages.darkfellanetwork.com"
      allowedRoutes:
        namespaces:
          from: All
      tls:
        mode: Terminate
        certificateRefs:
          - kind: Secret
            name: darkfellanet-tls
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/envoyproxy/gateway/refs/heads/main/charts/gateway-helm/crds/generated/gateway.envoyproxy.io_clienttrafficpolicies.yaml
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: BackendTrafficPolicy
metadata:
  name: envoy
spec:
  compression:
    - type: Brotli
    - type: Gzip
  targetSelectors:
    - group: gateway.networking.k8s.io
      kind: Gateway
  tcpKeepalive: {}
---
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: ClientTrafficPolicy
metadata:
  name: envoy
spec:
  clientIPDetection:
    xForwardedFor:
      trustedCIDRs:
        - 172.16.0.0/16
        - 103.21.244.0/22
        - 103.22.200.0/22
        - 103.31.4.0/22
        - 104.16.0.0/13
        - 104.24.0.0/14
        - 108.162.192.0/18
        - 131.0.72.0/22
        - 141.101.64.0/18
        - 162.158.0.0/15
        - 172.64.0.0/13
        - 173.245.48.0/20
        - 188.114.96.0/20
        - 190.93.240.0/20
        - 197.234.240.0/22
        - 198.41.128.0/17
        - 2400:cb00::/32
        - 2606:4700::/32
        - 2803:f800::/32
        - 2405:b500::/32
        - 2405:8100::/32
        - 2a06:98c0::/29
        - 2c0f:f248::/32
  http2:
    onInvalidMessage: TerminateStream
  http3: {}
  tls:
    minVersion: "1.2"
    alpnProtocols:
      - h2
      - http/1.1
    ecdhCurves: ["X25519"]
    session:
      resumption:
        stateless: {}
  targetRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: external
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: internal
---
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: ClientTrafficPolicy
metadata:
  name: envoy-artifactory
spec:
  path:
    escapedSlashesAction: KeepUnchanged
  clientIPDetection:
    xForwardedFor:
      trustedCIDRs:
        - 172.16.0.0/16
        - 103.21.244.0/22
        - 103.22.200.0/22
        - 103.31.4.0/22
        - 104.16.0.0/13
        - 104.24.0.0/14
        - 108.162.192.0/18
        - 131.0.72.0/22
        - 141.101.64.0/18
        - 162.158.0.0/15
        - 172.64.0.0/13
        - 173.245.48.0/20
        - 188.114.96.0/20
        - 190.93.240.0/20
        - 197.234.240.0/22
        - 198.41.128.0/17
        - 2400:cb00::/32
        - 2606:4700::/32
        - 2803:f800::/32
        - 2405:b500::/32
        - 2405:8100::/32
        - 2a06:98c0::/29
        - 2c0f:f248::/32
  http2:
    onInvalidMessage: TerminateStream
  http3: {}
  tls:
    minVersion: "1.3"
    alpnProtocols:
      - h2
      - http/1.1
    ecdhCurves: ["X25519"]
    session:
      resumption:
        stateless: {}
  targetRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: artifactory
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: https-redirect
  annotations:
    external-dns.alpha.kubernetes.io/controller: none
spec:
  parentRefs:
    - name: internal
      namespace: envoy-gateway-system
      sectionName: http
    - name: external
      namespace: envoy-gateway-system
      sectionName: http
    - name: artifactory
      namespace: envoy-gateway-system
      sectionName: http
  rules:
    - filters:
        - requestRedirect:
            scheme: https
            statusCode: 301
          type: RequestRedirect
