---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app opnsense-exporter
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      opnsense-exporter:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/d4rkfella/opnsense-exporter
              tag: 0.0.11@sha256:f1bea2871a135573315cd8523a36c1103edc62c93a45dd3b9168e81ef78534b7
              pullPolicy: IfNotPresent
            args:
              - --runtime.gomaxprocs=2
              - --opnsense.protocol=https
              - --opnsense.address=router.darkfellanetwork.com
              - --web.listen-address=:8080
              - --web.config.file=/etc/web-config.yaml
              - --exporter.disable-openvpn
              - --exporter.instance-label=router
            env:
              TZ: Europe/Sofia
              OPNSENSE_EXPORTER_OPS_API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: &secret opnsense-exporter-secret
                    key: key
              OPNSENSE_EXPORTER_OPS_API_SECRET:
                valueFrom:
                  secretKeyRef:
                    name: *secret
                    key: secret
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
                memory: 512Mi
              limits:
                cpu: 2000m
                memory: 1Gi

    defaultPodOptions:
      hostUsers: false
      securityContext:
        runAsUser: 65532
        runAsGroup: 65532
        runAsNonRoot: true

    service:
      app:
        controller: *app
        ports:
          http:
            port: 8080

    serviceMonitor:
      app:
        serviceName: opnsense-exporter
        endpoints:
          - port: http
            scheme: https
            path: /metrics
            interval: 30s
            scrapeTimeout: 10s
            basicAuth:
              username:
                name: *secret
                key: username
              password:
                name: *secret
                key: password
            tlsConfig:
              serverName: opnsense-exporter.observability.svc.cluster.local
              ca:
                secret:
                  name: opnsense-exporter-tls
                  key: ca.crt
              insecureSkipVerify: false

    persistence:
      tls:
        type: secret
        name: opnsense-exporter-tls
        globalMounts:
          - path: /etc/ssl/certs/opnsense-exporter.crt
            subPath: tls.crt
            readOnly: true
          - path: /etc/ssl/private/opnsense-exporter.key
            subPath: tls.key
            readOnly: true
      web-config:
        type: secret
        name: *secret
        globalMounts:
          - path: /etc/web-config.yaml
            subPath: web-config.yaml
            readOnly: true
