---
apiVersion: cdi.kubevirt.io/v1beta1
kind: DataVolume
metadata:
  name: truenas-scale-iso
spec:
  source:
      http:
         url: "https://download.sys.truenas.net/TrueNAS-SCALE-ElectricEel/24.10.1/TrueNAS-SCALE-24.10.1.iso"
  storage:
    resources:
      requests:
        storage: "2Gi"
    storageClassName: "openebs-zfs-128k"
    accessModes:
      - ReadWriteOnce
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: truenas-scale-os-disk
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 32Gi
  storageClassName: openebs-zfs-128k
