---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: plex
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: hashicorp-vault
  target:
    name: plex-secret
    template:
      engineVersion: v2
  dataFrom:
    - extract:
        key: secrets/plex
