---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app plex
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      plex:
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/d4rkfella/plex
              tag: 1.43.0.10492@sha256:23dbc5ec5e1acfbbdc1a9535651360d55d6605e2062190ea5ff90f16d7a5b199
            env:
              TZ: Europe/Sofia
              PLEX_ADVERTISE_URL: https://plex.darkfellanetwork.com:32400
              NVIDIA_VISIBLE_DEVICES: all
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 100m
                memory: 4Gi
              limits:
                nvidia.com/gpu: 1
                memory: 8Gi

        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: media/plex
          runtimeClassName: nvidia

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65532
        runAsGroup: 65532
        fsGroup: 65532
        fsGroupChangePolicy: OnRootMismatch

    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server
      config-cache:
        suffix: cache
        type: persistentVolumeClaim
        size: 75Gi
        storageClass: openebs-zfs-1m
        accessMode: ReadWriteOnce
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server/Cache
      media:
        type: nfs
        server: 192.168.91.40
        path: /mnt/exos20/data/media
        globalMounts:
          - path: /data/media
            readOnly: true
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server/Logs
            subPath: logs
          - path: /transcode
            subPath: transcode
          - path: /tmp
            subPath: tmp
      cert:
        type: secret
        name: plex-tls
        globalMounts:
          - path: /etc/ssl/certs/plex-keystore.p12
            subPath: keystore.p12
            readOnly: true
