---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flux-operator
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: flux-operator
  postRenderers:
  - kustomize:
      patches:
      - target:
          kind: Deployment
          name: (flux-operator)
        patch: |-
          - op: add
            path: /spec/template/spec/hostUsers
            value: false
  values:
    serviceMonitor:
      create: true
