---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openebs-zfs-localpv
spec:
  interval: 30m
  chart:
    spec:
      chart: zfs-localpv
      version: 2.7.0-develop
      sourceRef:
        kind: HelmRepository
        name: zfs-localpv
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3

  valuesFrom:
    - kind: ConfigMap
      name: zfs-localpv-helm-values
