---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbitmanage
spec:
  interval: 30m
  chart:
    spec:
      verify:
        provider: cosign
      chart: app-template
      version: 3.6.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  dependsOn:
    - name: qbittorrent
      namespace: media
  values:
    controllers:
      qbitmanage:
        annotations:
          secret.reloader.stakater.com/reload: qbitmanage-secret
        type: cronjob
        cronjob:
          schedule: "*/30 * * * *"
          timeZone: Europe/Sofia
          concurrencyPolicy: Forbid
          successfulJobsHistory: 1
          failedJobsHistory: 1

        containers:
          app:
            image:
              repository: ghcr.io/stuffanthings/qbit_manage
              tag: v4.1.14@sha256:a64f0781aabe3e66a261c8b21b7192555bc785f178cae40c6e8b88bf9b853c16
            env:
              TZ: Europe/Sofia
              QBT_CONFIG: "/config/config.yml"
              QBT_CROSS_SEED: false
              QBT_DRY_RUN: true
              QBT_LOG_LEVEL: INFO
              QBT_RECHECK: true
              QBT_REM_ORPHANED: true
              QBT_REM_UNREGISTERED: true
              QBT_RUN: true
              QBT_SHARE_LIMITS: true
              QBT_SKIP_CLEANUP: false
              QBT_SKIP_QB_VERSION_CHECK: true
              QBT_TAG_NOHARDLINKS: true
              QBT_TAG_TRACKER_ERROR: true
              QBT_TAG_UPDATE: true
              QBT_WIDTH: 100
            envFrom:
              - secretRef:
                  name: qbitmanage-secret
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi
            lifecycle:
              postStart:
                exec:
                  command: ["/bin/sh", "-c", "cp /secret/config.yml /config/config.yml"]
            securityContext:
              privileged: false
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 2000
        runAsGroup: 2000
        fsGroup: 2000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }

    persistence:
      config:
        type: emptyDir
        globalMounts:
          - path: /app/config
          - path: /config
      config-file:
        type: secret
        name: qbitmanage-secret
        globalMounts:
          - path: /secret/config.yml
            subPath: config.yml
            readOnly: true
      qbittorrent:
        existingClaim: qbittorrent-config
        globalMounts:
          - path: /qBittorrent/BT_backup
            subPath: qBittorrent/BT_backup
      media:
        type: nfs
        server: 192.168.91.40
        path: /mnt/exos20/data
        globalMounts:
          - path: /data/downloads/torrents
            subPath: downloads/torrents
