# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cross-seed
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: hashicorp-vault
  target:
    name: cross-seed-secret
    template:
      data:
        config.js: |
          module.exports = {
            action: "inject",
            apiKey: '{{ .CROSS_SEED_API_KEY }}',
            delay: 30,
            duplicateCategories: false,
            flatLinking: false,
            includeNonVideos: true,
            includeSingleEpisodes: true,
            linkCategory: "cross-seed",
            linkDirs: ["/data/downloads/torrents/cross-seed", "/data/LaunchBox/cross-seed"],
            linkType: "hardlink",
            matchMode: "partial",
            seasonFromEpisodes: 0.8,
            port: Number(process.env.CROSS_SEED_PORT),
            torrentClients: [`qbittorrent:http://{{ .QBITTORRENT_USERNAME }}:{{ .QBITTORRENT_PASSWORD }}@qbittorrent.media.svc.cluster.local`],
            radarr: [`http://radarr.media.svc.cluster.local/?apikey={{ .RADARR_API_KEY }}`],
            skipRecheck: true,
            sonarr: [`http://sonarr.media.svc.cluster.local/?apikey={{ .SONARR_API_KEY }}`],
            useClientTorrents: true,
            torznab: [
              3, // IPT
              1, // SA
              2, // TL
            ].map(i => `http://prowlarr.media.svc.cluster.local/${i}/api?apikey={{ .PROWLARR_API_KEY }}`),
          };
  dataFrom:
    - extract:
        key: secrets/qbittorrent
    - extract:
        key: secrets/prowlarr
    - extract:
        key: secrets/radarr
    - extract:
        key: secrets/sonarr
    - extract:
        key: secrets/cross-seed
