---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app cross-seed
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      cross-seed:
        annotations:
          secret.reloader.stakater.com/reload: "{{ .Release.Name }}-secret"

        containers:
          app:
            image:
              repository: ghcr.io/d4rkfella/cross-seed
              tag: 6.13.6@sha256:987453969473c6f0e91ba31db2f816de5d72a41cca155dfd97a806157df1ccb1
            args: ["daemon", "-v"]
            env:
              TZ: Europe/Sofia
              CROSS_SEED_PORT: &port 2468
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/ping
                    port: *port
                  initialDelaySeconds: 2
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65532
        runAsGroup: 65532
        fsGroup: 65532
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }

    service:
      app:
        controller: *app
        ports:
          http:
            port: *port

    persistence:
      config:
        type: emptyDir
        medium: Memory
      config-file:
        type: secret
        name: "{{ .Release.Name }}-secret"
        defaultMode: 0440
        globalMounts:
          - path: /config/config.js
            subPath: config.js
            readOnly: true
      media:
        type: nfs
        server: 192.168.91.40
        path: /mnt/exos20/data/downloads/torrents
        globalMounts:
          - path: /data/downloads/torrents
      game-library:
        type: nfs
        server: 192.168.91.40
        path: /mnt/exos20/SMB/LaunchBox
        globalMounts:
          - path: /data/LaunchBox
