---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app cross-seed
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  driftDetection:
    mode: enabled
  values:
    controllers:
      cross-seed:
        annotations:
          secret.reloader.stakater.com/reload: "{{ .Release.Name }}-secret"

        containers:
          app:
            image:
              repository: ghcr.io/d4rkfella/cross-seed
              tag: 6.12.5@sha256:6e635ab3912a79057e1193d99ee5bb10bffbc2817653ef3b45456431a4879452
            args: ["daemon", "-v"]
            env:
              TZ: Europe/Sofia
              CROSS_SEED_PORT: &port 2468
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/ping
                    port: *port
                  initialDelaySeconds: 2
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

    defaultPodOptions:
      hostAliases:
        - ip: "192.168.91.52"
          hostnames:
            - "radarr.darkfellanetwork.com"
            - "sonarr.darkfellanetwork.com"
            - "prowlarr.darkfellanetwork.com"
            - "qbittorrent.darkfellanetwork.com"
      securityContext:
        runAsNonRoot: true
        runAsUser: 65532
        runAsGroup: 65532
        fsGroup: 65532
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }

    service:
      app:
        controller: *app
        ports:
          http:
            port: *port

    route:
      app:
        hostnames: ["{{ .Release.Name }}.darkfellanetwork.com"]
        parentRefs:
          - name: internal
            namespace: envoy-gateway-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      config:
        type: emptyDir
        medium: Memory

      config-file:
        type: secret
        name: "{{ .Release.Name }}-secret"
        defaultMode: 0440
        globalMounts:
          - path: /config/config.js
            subPath: config.js
            readOnly: true

      media:
        type: nfs
        server: 192.168.91.40
        path: /mnt/exos20/data/downloads/torrents
        globalMounts:
          - path: /data/downloads/torrents

      game-library:
        type: nfs
        server: 192.168.91.40
        path: /mnt/exos20/SMB/LaunchBox
        globalMounts:
          - path: /data/LaunchBox
