---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plex
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3

  values:
    controllers:
      plex:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/onedr0p/plex
              tag: 1.41.3.9314-a0bfb8370@sha256:38fcbef239341db591f8ff87f20777d9a783b79f757fc42e360041d7ba78eada
            env:
              TZ: Europe/Sofia
              PLEX_ADVERTISE_URL: https://plex.darkfellanetwork.com:32400
              PLEX_UID: 568
              PLEX_GID: 568
              NVIDIA_VISIBLE_DEVICES: all
              NVIDIA_DRIVER_CAPABILITIES: all
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  exec:
                    command: ["/bin/sh", "-c", "curl -s http://localhost:32400/identity | grep -q 'MediaContainer'"]
                  initialDelaySeconds: 1
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            lifecycle:
              postStart:
                exec:
                  command: ["/bin/sh", "-c", "mkdir -p /ssl/certs && openssl pkcs12 -export -out /ssl/certs/certificate.p12 -inkey /etc/secret/tls.key -in /etc/secret/tls.crt -passin pass: -passout pass: || exit 1"]
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 3Gi
                nvidia.com/gpu: 1

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }

    service:
      app:
        controller: plex
        type: LoadBalancer
        allocateLoadBalancerNodePorts: false
        annotations:
          external-dns.alpha.kubernetes.io/hostname: plex.darkfellanetwork.com
          lbipam.cilium.io/ips: 192.168.91.98
        ports:
          http:
            port: 32400

    persistence:
      config:
        type: persistentVolumeClaim
        size: 50Gi
        accessMode: ReadWriteOnce
        storageClass: openebs-zfs-1m
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server

      logs:
        type: emptyDir
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server/Logs

      tmp:
        type: emptyDir
        medium: Memory

      transcode:
        type: persistentVolumeClaim
        size: 150Gi
        storageClass: openebs-zfs-1m
        accessMode: ReadWriteOnce

      media:
        type: nfs
        server: 192.168.91.40
        path: /mnt/exos20/data
        globalMounts:
          - path: /data/media
            readOnly: true
            subPath: media
      ssl:
        type: emptyDir
        globalMounts:
          - path: /ssl
      cert:
        type: secret
        name: plex-tls
        globalMounts:
          - path: /etc/secret
            readOnly: true
