---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: recyclarr
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
spec:
  interval: 30m
  chart:
    spec:
      verify:
        provider: cosign
      chart: app-template
      version: 3.6.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    controllers:
      recyclarr:
        type: cronjob

        annotations:
          reloader.stakater.com/auto: "true"

        cronjob:
          schedule: 0 0 * * *
          backoffLimit: 0
          concurrencyPolicy: Forbid
          failedJobsHistory: 1
          successfulJobsHistory: 1
          ttlSecondsAfterFinished: 86400

        pod:
          restartPolicy: Never

        containers:
          app:
            image:
              repository: ghcr.io/recyclarr/recyclarr
              tag: 7.4.0@sha256:619c3b8920a179f2c578acd0f54e9a068f57c049aff840469eed66e93a4be2cf
            args:
              - sync
            env:
              COMPlus_EnableDiagnostics: "0"
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 128M
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 2000
        runAsGroup: 2000
        fsGroup: 2000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }

    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        size: 5Gi
        accessMode: ReadWriteOnce
        storageClass: openebs-zfs-128k
        globalMounts:
          - path: /config

      config-file:
        type: configMap
        name: recyclarr-config
        globalMounts:
          - path: /config/recyclarr.yml
            subPath: recyclarr.yml
            readOnly: true

      config-logs:
        type: emptyDir
        globalMounts:
          - path: /config/logs

    rawResources:
      secret:
        enabled: true
        apiVersion: external-secrets.io/v1beta1
        kind: ExternalSecret
        spec:
          spec:
            secretStoreRef:
              kind: ClusterSecretStore
              name: vault-backend
            target:
              name: "{{ .Release.Name }}-secret"
              template:
                engineVersion: v2
                data:
                  RADARR_API_KEY: '{{ "{{ .RADARR_API_KEY }}" }}'
                  SONARR_API_KEY: '{{ "{{ .SONARR_API_KEY }}" }}'
            data:
              - secretKey: RADARR_API_KEY
                remoteRef:
                  key: secrets/radarr
                  property: API_KEY
              - secretKey: SONARR_API_KEY
                remoteRef:
                  key: secrets/sonarr
                  property: API_KEY

    configMaps:
      config:
        enabled: true
        data:
          recyclarr.yml: |
            radarr:
              sqp-3:
                base_url: https://radarr.darkfellanetwork.com
                api_key: !env_var RADARR_API_KEY

                delete_old_custom_formats: true
                replace_existing_custom_formats: true

                include:
                  - template: radarr-quality-definition-sqp-uhd
                  - template: radarr-quality-profile-sqp-3
                  - template: radarr-custom-formats-sqp-3

                custom_formats:
                  # Movie Versions
                  - trash_ids:
                      - 0f12c086e289cf966fa5948eac571f44 # Hybrid
                      - 570bc9ebecd92723d2d21500f4be314c # Remaster
                      - eca37840c13c6ef2dd0262b141a5482f # 4K Remaster
                      - e0c07d59beb37348e975a930d5e50319 # Criterion Collection
                      - 9d27d9d2181838f76dee150882bdc58c # Masters of Cinema
                      - db9b4c4b53d312a3ca5f1378f6440fc9 # Vinegar Syndrome
                      - 957d0f44b592285f26449575e8b1167e # Special Edition
                      - eecf3a857724171f968a66cb5719e152 # IMAX
                      - 9f6cbff8cfe4ebbc1bde14c7b7bec0de # IMAX Enhanced
                    assign_scores_to:
                      - name: SQP-3

                  # Misc
                  - trash_ids:
                      - 2899d84dc9372de3408e6d8cc18e9666 # x264
                    assign_scores_to:
                      - name: SQP-3
                        score: 0

                  # Unwanted
                  - trash_ids:
                      - dc98083864ea246d05a42df0d05f81cc # x265 (HD)
                    assign_scores_to:
                      - name: SQP-3
                        score: 0
                  - trash_ids:
                      - 839bea857ed2c0a8e084f3cbdbd65ecb # x265 (no HDR/DV)
                    assign_scores_to:
                      - name: SQP-3

                  # Optional
                  - trash_ids:
                      # Uncomment the next two lines if you have a setup that supports HDR10+
                      - b17886cb4158d9fea189859409975758 # HDR10+ Boost
                      - 55a5b50cb416dea5a50c4955896217ab # DV HDR10+ Boost

                      - 923b6abef9b17f937fab56cfcf89e1f1 # DV (WEBDL)

                      # Uncomment any of the following if you want them to be added to the quality profile
                      - b6832f586342ef70d9c128d40c07b872 # Bad Dual Groups
                      - 90cedc1fea7ea5d11298bebd3d1d3223 # EVO (no WEBDL)
                      - ae9b7c9ebde1f3bd336a8cbd1ec4c5e5 # No-RlsGroup
                      - 7357cf5161efbf8c4d5d0c30b4815ee2 # Obfuscated
                      - 5c44f52a8714fdd79bb4d98e2673be1f # Retags
                      - f537cf427b64c38c8e36298f657e4828 # Scene
                      - f700d29429c023a5734505e77daeaea7 # DV (Disk)
                    assign_scores_to:
                      - name: SQP-3

                  # Optional SDR
                  # Only ever use ONE of the following custom formats:
                  # SDR - block ALL SDR releases
                  # SDR (no WEBDL) - block UHD/4k Remux and Bluray encode SDR releases, but allow SDR WEB
                  - trash_ids:
                      - 25c12f78430a3a23413652cbd1d48d77 # SDR (no WEBDL)
                    assign_scores_to:
                      - name: SQP-3

            sonarr:
              web-2160p-v4:
                base_url: https://sonarr.darkfellanetwork.com
                api_key: !env_var SONARR_API_KEY

                delete_old_custom_formats: true
                replace_existing_custom_formats: true

                include:
                  - template: sonarr-quality-definition-series
                  # 1080p
                  - template: sonarr-v4-quality-profile-web-1080p
                  - template: sonarr-v4-custom-formats-web-1080p
                  # 2160p
                  - template: sonarr-v4-quality-profile-web-2160p
                  - template: sonarr-v4-custom-formats-web-2160p

                quality_profiles:
                  - name: WEB-1080p
                  - name: WEB-2160p

                custom_formats:
                  # HDR Formats
                  - trash_ids:
                      # Comment out the next line if you and all of your users' setups are fully DV compatible
                      - 9b27ab6498ec0f31a3353992e19434ca # DV (WEBDL)

                      - 0dad0a507451acddd754fe6dc3a7f5e7 # HDR10+ Boost
                      - 385e9e8581d33133c3961bdcdeffb7b4 # DV HDR10+ Boost
                    assign_scores_to:
                      - name: WEB-2160p

                  # Optional
                  - trash_ids:
                      - 32b367365729d530ca1c124a0b180c64 # Bad Dual Groups
                      - 82d40da2bc6923f41e14394075dd4b03 # No-RlsGroup
                      - e1a997ddb54e3ecbfe06341ad323c458 # Obfuscated
                      - 06d66ab109d4d2eddb2794d21526d140 # Retags
                      - 1b3994c551cbb92a2c781af061f4ab44 # Scene
                    assign_scores_to:
                      - name: WEB-1080p
                      - name: WEB-2160p
