---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: kyverno
spec:
  interval: 1h
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  url: oci://ghcr.io/kyverno/charts/kyverno
  ref:
    tag: 3.6.0
  #verify:
    #provider: cosign
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app kyverno
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: kyverno
  postRenderers:
  - kustomize:
      patches:
        - target:
            kind: Deployment
            name: kyverno-admission-controller
          patch: |
            - op: replace
              path: /spec/template/spec/containers/0/resources/limits
              value:
                memory: "1024Mi"
  values:
    crds:
      install: true
    grafana:
      enabled: true
    admissionController:
      replicas: 1
      rbac:
        clusterRole:
          extraResources:
            - apiGroups:
                - ""
              resources:
                - pods
              verbs:
                - create
                - update
                - delete
      serviceMonitor:
        enabled: true
    backgroundController:
      rbac:
        clusterRole:
          extraResources:
            - apiGroups:
                - ""
              resources:
                - pods
              verbs:
                - create
                - update
                - patch
                - delete
                - get
                - list
      resources:
        requests:
          cpu: 100m
        limits:
          memory: 1Gi
      serviceMonitor:
        enabled: true
    cleanupController:
      serviceMonitor:
        enabled: true
    reportsController:
      serviceMonitor:
        enabled: true
      resources:
        limits:
          memory: 3072Mi
        requests:
          cpu: 100m
          memory: 1024Mi
