---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app seerr
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn:
    - name: volsync
      namespace: volsync-system

  values:
    controllers:
      seerr:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/d4rkfella/seerr
              tag: 2.7.3@sha256:0ad0565bd1219a3a2bddb25dc5ee2a8f02214485c9f9c8111d194ba9d4bd931a
            env:
              TZ: Europe/Sofia
              LOG_LEVEL: "info"
              PORT: &port 80
              DB_TYPE: postgres
              DB_HOST: postgres-db-rw.database.svc.cluster.local
              DB_NAME: seerr
              DB_USER:
                valueFrom:
                  secretKeyRef:
                    name: &secret seerr-secret
                    key: POSTGRES_USERNAME
              DB_PASS:
                valueFrom:
                  secretKeyRef:
                    name: *secret
                    key: POSTGRES_PASSWORD
              DB_USE_SSL: "true"
              DB_SSL_CA_FILE: /etc/ssl/certs/postgres-ca.crt
              DB_LOG_QUERIES: "false"
              DB_SSL_REJECT_UNAUTHORIZED: "true"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v1/status
                    port: *port
                  initialDelaySeconds: 2
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 512Mi
              limits:
                memory: 2Gi

    defaultPodOptions:
      hostUsers: false
      hostAliases:
        - ip: "192.168.91.52"
          hostnames:
            - "radarr.darkfellanetwork.com"
            - "sonarr.darkfellanetwork.com"
      securityContext:
        runAsNonRoot: true
        runAsUser: 65532
        runAsGroup: 65532
        fsGroup: 65532
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }

    service:
      app:
        controller: *app
        ports:
          http:
            port: *port

    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 200"]
        hostnames: ["requests.darkfellanetwork.com", "{{ .Release.Name }}.darkfellanetwork.com"]
        parentRefs:
          - name: external
            namespace: envoy-gateway-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      config:
        existingClaim: *app
        advancedMounts:
          seerr:
            app:
              - path: /usr/lib/seerr/config
      cache:
        suffix: cache
        type: persistentVolumeClaim
        size: 20Gi
        accessMode: ReadWriteOnce
        storageClass: openebs-zfs-128k
        advancedMounts:
          seerr:
            app:
              - path: /usr/lib/seerr/config/cache
      logs:
        type: emptyDir
        advancedMounts:
          seerr:
            app:
              - path: /usr/lib/seerr/config/logs
      postgres-ca:
        type: secret
        name: *secret
        advancedMounts:
          seerr:
            app:
              - path: /etc/ssl/certs/postgres-ca.crt
                subPath: ca.crt
                readOnly: true
