---
# Note: Gatus vars should be escaped with $${VAR_NAME} to avoid interpolation by Flux
security:
  oidc:
    issuer-url: https://authentik.${PUBLIC_DOMAIN}/application/o/f739a8bf-3dc3-4ad3-8289-f90435ddb04b/
    client-id: $${OIDC_CLIENT_ID}
    client-secret: $${OIDC_CLIENT_SECRET}
    redirect-url: https://status.${PUBLIC_DOMAIN}/authorization-code/callback
    scopes: [openid]
web:
  port: $${WEB_PORT}
storage:
  type: postgres
  path: postgres://$${INIT_POSTGRES_USER}:$${GATUS_POSTGRES_ENCODED_PASS}@$${INIT_POSTGRES_HOST}:5432/$${INIT_POSTGRES_DBNAME}?sslmode=disable
  caching: true
metrics: true
debug: false
ui:
  title: Status | Gatus
  header: Status
alerting:
  pushover:
    title: Gatus
    application-token: $${PUSHOVER_TOKEN}
    user-key: $${PUSHOVER_USER_KEY}
    priority: 1
    default-alert:
      description: health-check failed
      send-on-resolved: true
      failure-threshold: 3
      success-threshold: 3
connectivity:
  checker:
    target: 1.1.1.1:53
    interval: 1m
endpoints:
  - name: status
    group: external
    url: https://status.${PUBLIC_DOMAIN}
    interval: 1m
    client:
      dns-resolver: tcp://1.1.1.1:53
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: pushover
  - name: flux-webhook
    group: external
    url: https://flux-webhook.${PUBLIC_DOMAIN}
    interval: 1m
    client:
      dns-resolver: tcp://1.1.1.1:53
    conditions:
      - "[STATUS] == 404"
    alerts:
      - type: pushover
