---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  - ./cloudnative-pg-operator/ks.yaml
  - ./dragonfly-operator/ks.yaml
  - ./cloudnative-pg-cluster/ks.yaml
  - ./dragonfly-cluster/ks.yaml
components:
  - ../../components/common
  - ../../components/repos/app-template
transformers:
  - ./transformers
