endpoints:
  - name: "Autobrr"
    group: guarded
    url: "https://autobrr.darkfellanetwork.com/api/healthz/readiness"
    interval: 1m
    ui:
      hide-hostname: true
      hide-url: true
    client:
      dns-resolver: tcp://172.17.0.10:53
    conditions:
      - "[STATUS] == 200"
      - "[BODY] == OK"
    alerts:
      - type: pushover
