---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: radarr
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: hashicorp-vault
  target:
    name: radarr-secret
  dataFrom:
    - extract:
        key: secrets/radarr
    - extract:
        key: secrets/pushover
    - extract:
        key: secrets/dragonfly
