---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres-db
  labels:
    cnpg.io/reload: ""
    cnpg.io/skipEmptyWalArchiveCheck: "enabled"
spec:
  monitoring:
    tls:
      enabled: true
  instances: 3
  imageName: ghcr.io/cloudnative-pg/postgresql:18.2-minimal-trixie@sha256:a41202a37926ffbdbc011abd7cc4fd63764817377d519e62b5ea91710a7e4848
  primaryUpdateStrategy: unsupervised
  storage:
    pvcTemplate:
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 20Gi
      storageClassName: openebs-zfs-32k
      volumeMode: Filesystem
    resizeInUseVolumes: true
  walStorage:
    pvcTemplate:
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 20Gi
      storageClassName: openebs-zfs-32k
      volumeMode: Filesystem
  superuserSecret:
    name: postgres-admin-secret
  enableSuperuserAccess: true
  postgresql:
    parameters:
      max_connections: "200"
      shared_buffers: "1843MB"
      wal_init_zero: "off"
      wal_recycle: "off"
      huge_pages: "on"
      work_mem: 10MB
    pg_hba:
      - hostssl all all 172.16.0.0/16 scram-sha-256
      - hostssl all all 127.0.0.1/32 scram-sha-256
      - host all all all reject
  resources:
    requests:
      cpu: 500m
    limits:
      memory: 4096Mi
      hugepages-2Mi: 2Gi
  plugins:
    - name: barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: cloudflare
        serverName: postgres-db-2
  bootstrap:
    recovery:
      source: source
  externalClusters:
    - name: source
      plugin:
        name: barman-cloud.cloudnative-pg.io
        parameters:
          barmanObjectName: cloudflare
          serverName: postgres-db-1

  managed:
    roles:
      - name: 620f08ae-4f99-4b9d-8930-edc842b888f9 # keycloak
        login: true
        superuser: false
        passwordSecret:
          name: keycloak-db-password

      - name: be8f943d-e632-4a5b-9512-a86873cfeed6 # radarr
        login: true
        superuser: false
        passwordSecret:
          name: radarr-db-password

      - name: 0d2ee64d-e3be-412c-8c21-1c65e4e82992 # sonarr
        login: true
        superuser: false
        passwordSecret:
          name: sonarr-db-password

      - name: 437f7498-c28e-46b4-b70a-74dd1b5fe039 # prowlarr
        login: true
        superuser: false
        passwordSecret:
          name: prowlarr-db-password

      - name: 081490d5-64d5-4332-848d-2b3bdc47e67d # bazarr
        login: true
        superuser: false
        passwordSecret:
          name: bazarr-db-password

      - name: 0e9ff8b3-c418-434b-b41a-3a3c1fdb8cd0 # autobrr
        login: true
        superuser: false
        passwordSecret:
          name: autobrr-db-password

      - name: eeee6dc0-d387-49a9-bdc5-41d3b729c095 # seerr
        login: true
        superuser: false
        passwordSecret:
          name: seerr-db-password

      - name: 585ceb32-89f1-435f-a052-4c65b0545668 # vaultwarden
        login: true
        superuser: false
        passwordSecret:
          name: vaultwarden-db-password

      - name: 9e509b5e-649a-4458-9b7c-7c5aa71a7c7e # artifactory
        login: true
        superuser: false
        passwordSecret:
          name: artifactory-db-password

      - name: 3abf2d7b-fe53-4cf3-8364-ecd74524ded9 # gatus
        login: true
        superuser: false
        passwordSecret:
          name: gatus-db-password
