---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: postgres-admin
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: hashicorp-vault
  target:
    name: postgres-admin-secret
    template:
      engineVersion: v2
      metadata:
        labels:
          cnpg.io/reload: "true"
  dataFrom:
    - extract:
        key: secrets/postgres-admin
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: keycloak-db-password
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: hashicorp-vault
  target:
    name: keycloak-db-password
    template:
      engineVersion: v2
      metadata:
        labels:
          cnpg.io/reload: "true"
      type: kubernetes.io/basic-auth
      data:
        username: "{{ .username }}"
        password: "{{ .password }}"
  data:
    - secretKey: username
      remoteRef:
        key: secrets/keycloak
        property: POSTGRES_USERNAME
    - secretKey: password
      remoteRef:
        key: secrets/keycloak
        property: POSTGRES_PASSWORD
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: bazarr-db-password
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: hashicorp-vault
  target:
    name: bazarr-db-password
    template:
      engineVersion: v2
      metadata:
        labels:
          cnpg.io/reload: "true"
      type: kubernetes.io/basic-auth
      data:
        username: "{{ .username }}"
        password: "{{ .password }}"
  data:
    - secretKey: username
      remoteRef:
        key: secrets/bazarr
        property: POSTGRES_USERNAME
    - secretKey: password
      remoteRef:
        key: secrets/bazarr
        property: POSTGRES_PASSWORD
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: radarr-db-password
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: hashicorp-vault
  target:
    name: radarr-db-password
    template:
      engineVersion: v2
      metadata:
        labels:
          cnpg.io/reload: "true"
      type: kubernetes.io/basic-auth
      data:
        username: "{{ .username }}"
        password: "{{ .password }}"
  data:
    - secretKey: username
      remoteRef:
        key: secrets/radarr
        property: POSTGRES_USERNAME
    - secretKey: password
      remoteRef:
        key: secrets/radarr
        property: POSTGRES_PASSWORD
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: sonarr-db-password
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: hashicorp-vault
  target:
    name: sonarr-db-password
    template:
      engineVersion: v2
      metadata:
        labels:
          cnpg.io/reload: "true"
      type: kubernetes.io/basic-auth
      data:
        username: "{{ .username }}"
        password: "{{ .password }}"
  data:
    - secretKey: username
      remoteRef:
        key: secrets/sonarr
        property: POSTGRES_USERNAME
    - secretKey: password
      remoteRef:
        key: secrets/sonarr
        property: POSTGRES_PASSWORD
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: prowlarr-db-password
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: hashicorp-vault
  target:
    name: prowlarr-db-password
    template:
      engineVersion: v2
      metadata:
        labels:
          cnpg.io/reload: "true"
      type: kubernetes.io/basic-auth
      data:
        username: "{{ .username }}"
        password: "{{ .password }}"
  data:
    - secretKey: username
      remoteRef:
        key: secrets/prowlarr
        property: POSTGRES_USERNAME
    - secretKey: password
      remoteRef:
        key: secrets/prowlarr
        property: POSTGRES_PASSWORD
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: autobrr-db-password
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: hashicorp-vault
  target:
    name: autobrr-db-password
    template:
      engineVersion: v2
      metadata:
        labels:
          cnpg.io/reload: "true"
      type: kubernetes.io/basic-auth
      data:
        username: "{{ .username }}"
        password: "{{ .password }}"
  data:
    - secretKey: username
      remoteRef:
        key: secrets/autobrr
        property: POSTGRES_USERNAME
    - secretKey: password
      remoteRef:
        key: secrets/autobrr
        property: POSTGRES_PASSWORD
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: jellyseerr-db-password
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: hashicorp-vault
  target:
    name: jellyseerr-db-password
    template:
      engineVersion: v2
      metadata:
        labels:
          cnpg.io/reload: "true"
      type: kubernetes.io/basic-auth
      data:
        username: "{{ .username }}"
        password: "{{ .password }}"
  data:
    - secretKey: username
      remoteRef:
        key: secrets/jellyseerr
        property: POSTGRES_USERNAME
    - secretKey: password
      remoteRef:
        key: secrets/jellyseerr
        property: POSTGRES_PASSWORD
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: vaultwarden-db-password
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: hashicorp-vault
  target:
    name: vaultwarden-db-password
    template:
      engineVersion: v2
      metadata:
        labels:
          cnpg.io/reload: "true"
      type: kubernetes.io/basic-auth
      data:
        username: "{{ .username }}"
        password: "{{ .password }}"
  data:
    - secretKey: username
      remoteRef:
        key: secrets/vaultwarden
        property: POSTGRES_USERNAME
    - secretKey: password
      remoteRef:
        key: secrets/vaultwarden
        property: POSTGRES_PASSWORD
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: artifactory-db-password
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: hashicorp-vault
  target:
    name: artifactory-db-password
    template:
      engineVersion: v2
      metadata:
        labels:
          cnpg.io/reload: "true"
      type: kubernetes.io/basic-auth
      data:
        username: "{{ .username }}"
        password: "{{ .password }}"
  data:
    - secretKey: username
      remoteRef:
        key: secrets/artifactory
        property: db-user
    - secretKey: password
      remoteRef:
        key: secrets/artifactory
        property: db-password
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: gatus-db-password
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: hashicorp-vault
  target:
    name: gatus-db-password
    template:
      engineVersion: v2
      metadata:
        labels:
          cnpg.io/reload: "true"
      type: kubernetes.io/basic-auth
      data:
        username: "{{ .username }}"
        password: "{{ .password }}"
  data:
    - secretKey: username
      remoteRef:
        key: secrets/gatus
        property: POSTGRES_USERNAME
    - secretKey: password
      remoteRef:
        key: secrets/gatus
        property: POSTGRES_PASSWORD
