---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: postgres-admin
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: hashicorp-vault
  target:
    name: postgres-admin-secret
    template:
      engineVersion: v2
      metadata:
        labels:
          cnpg.io/reload: "true"
  dataFrom:
    - extract:
        key: secrets/postgres-admin
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: keycloak-db-password
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: hashicorp-vault
  target:
    name: keycloak-db-password
    template:
      engineVersion: v2
      metadata:
        labels:
          cnpg.io/reload: "true"
      type: kubernetes.io/basic-auth
      data:
        username: "{{ .username }}"
        password: "{{ .password }}"
  data:
    - secretKey: username
      remoteRef:
        key: secrets/keycloak
        property: POSTGRES_USERNAME
    - secretKey: password
      remoteRef:
        key: secrets/keycloak
        property: POSTGRES_PASSWORD
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: bazarr-test-db-password
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: hashicorp-vault
  target:
    name: bazarr-test-db-password
    template:
      engineVersion: v2
      metadata:
        labels:
          cnpg.io/reload: "true"
      type: kubernetes.io/basic-auth
      data:
        username: "{{ .username }}"
        password: "{{ .password }}"
  data:
    - secretKey: username
      remoteRef:
        key: secrets/bazarr
        property: POSTGRES_USERNAME
    - secretKey: password
      remoteRef:
        key: secrets/bazarr
        property: POSTGRES_PASSWORD
