---
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: postgres-db
spec:
  selector:
    matchLabels:
      "cnpg.io/cluster": postgres-db
  podMetricsEndpoints:
  - port: metrics
    scheme: https
    tlsConfig:
      ca:
        secret:
          name: postgres-db-ca
          key: ca.crt
      serverName: postgres-db-rw
