---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: tuppr-upgrades
spec:
  dependsOn:
    - name: tuppr
  interval: 1h
  path: ./kubernetes/apps/system-upgrade/tuppr-upgrades/manifests
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
