---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./ocirepository.yaml
  - ./helmrelease.yaml
  - ./grafanadashboard.yaml
  - ./httproute.yaml
  - ./prometheusrule.yaml
  - ./receiver.yaml
  - ./podmonitor.yaml
