apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: gatus
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: hashicorp-vault
  target:
    name: gatus-secret
  data:
    - secretKey: POSTGRES_SUPER_PASS
      remoteRef:
        key: secrets/postgres
        property: password
  dataFrom:
    - extract:
        key: secrets/gatus
    - extract:
        key: secrets/dragonfly
    - extract:
        key: secrets/certificates/postgres
    - extract:
        key: secrets/pushover
