apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: radarr
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: hashicorp-vault
  target:
    name: radarr-secret
  data:
    - secretKey: POSTGRES_SUPER_PASS
      remoteRef:
        key: secrets/postgres
        property: password
  dataFrom:
    - extract:
        key: secrets/radarr
    - extract:
        key: secrets/pushover
    - extract:
        key: secrets/dragonfly
    - extract:
        key: secrets/certificates/internal-ca
