---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app qbittorrent
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn:
    - name: volsync
      namespace: volsync-system

  values:
    controllers:
      qbittorrent:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/d4rkfella/qbittorrent
              tag: 5.1.4@sha256:1f4c52e55989b39c2ae93da99b1cd8a31bad0074230494a99c8607ad71914e1d
            env:
              UMASK: "022"
              TZ: Europe/Sofia
              QBT_WEBUI_PORT: &port 80
              QBT_TORRENTING_PORT: &torrentPort 50413
              CROSS_SEED_ENABLED: true
              CROSS_SEED_URL: http://cross-seed.media.svc.cluster.local:2468
              PUSHOVER_ENABLED: true
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              readiness: &probes
                enabled: false
                spec:
                  initialDelaySeconds: 2
                  periodSeconds: 10
                  failureThreshold: 3
              liveness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext: &securityContext
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 10Gi

          git-sync:
            image:
              repository: registry.k8s.io/git-sync/git-sync
              tag: v4.6.0
            args:
              - --repo=https://github.com/VueTorrent/VueTorrent
              - --ref=latest-release
              - --period=86400s
              - --root=/addons
            securityContext: *securityContext
            resources:
              requests:
                cpu: 10m
                memory: 25Mi

    defaultPodOptions:
      terminationGracePeriodSeconds: 300
      securityContext:
        runAsNonRoot: true
        runAsUser: 65532
        runAsGroup: 65532
        fsGroup: 65532
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: {type: RuntimeDefault}

    service:
      app:
        forceRename: *app
        controller: *app
        primary: true
        ports:
          http:
            port: *port
      upload:
        controller: *app
        primary: false
        type: LoadBalancer
        allocateLoadBalancerNodePorts: false
        externalTrafficPolicy: Local
        annotations:
          lbipam.cilium.io/ips: 192.168.91.55
        ports:
          bittorrent-tcp:
            enabled: true
            port: *torrentPort
            protocol: TCP
          bittorrent-udp:
            enabled: true
            port: *torrentPort
            protocol: UDP

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.darkfellanetwork.com"
        parentRefs:
          - name: internal
            namespace: envoy-gateway-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      config:
        existingClaim: *app

      media:
        type: nfs
        server: 192.168.91.40
        path: /mnt/exos20/data/downloads/torrents
        advancedMounts:
          qbittorrent:
            app:
              - path: /data/downloads/torrents

      game-library:
        type: nfs
        server: 192.168.91.40
        path: /mnt/exos20/SMB/LaunchBox
        advancedMounts:
          qbittorrent:
            app:
              - path: /data/LaunchBox

      addons:
        type: emptyDir
        advancedMounts:
          qbittorrent:
            app:
              - path: /addons
                readOnly: true
            git-sync:
              - path: /addons

      tmp:
        type: emptyDir
        advancedMounts:
          qbittorrent:
            git-sync:
              - path: /tmp
