---
apiVersion: external-secrets.io/v1beta1
kind: ClusterExternalSecret
metadata:
  name: internal-ca
spec:
  namespaceSelector:
    matchExpressions:
      - key: kubernetes.io/metadata.name
        operator: NotIn
        values:
          - kube-system
          - kube-public
          - kube-node-lease
          - external-secrets

  externalSecretSpec:
    refreshInterval: 1h
    secretStoreRef:
      kind: ClusterSecretStore
      name: hashicorp-vault

    target:
      name: internal-ca-secret
      creationPolicy: Owner
      deletionPolicy: Retain

    dataFrom:
      - extract:
          key: secrets/certificates/internal-ca
