---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/clusterexternalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ClusterExternalSecret
metadata:
  name: internal-ca
spec:
  externalSecretSpec:
    target:
      name: internal-ca-secret
    secretStoreRef:
      kind: ClusterSecretStore
      name: hashicorp-vault
    dataFrom:
      - extract:
          key: secrets/certificates/internal-ca
