---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-secrets
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: external-secrets
  postRenderers:
    - kustomize:
        patches:
          - target:
              kind: Deployment
              name: (external-secrets|external-secrets-webhook)
            patch: |-
              - op: add
                path: /spec/template/spec/hostUsers
                value: false
  values:
    installCRDs: true
    image:
      repository: ghcr.io/external-secrets/external-secrets
    certController:
      image:
        repository: ghcr.io/external-secrets/external-secrets
      serviceMonitor:
        enabled: true
        interval: 1m
    extraArgs:
      enable-secrets-caching: "true"
      enable-managed-secrets-caching: "true"
    serviceMonitor:
      enabled: true
    grafanaDashboard:
      enabled: true
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
      enabled: true
      readOnlyRootFilesystem: true
      runAsNonRoot: true
      runAsUser: 65532
      runAsGroup: 65532
      seccompProfile:
        type: RuntimeDefault
    podSpecExtra:
      hostAliases:
        - ip: "192.168.91.53"
          hostnames:
            - "vault.darkfellanetwork.com"
    webhook:
      certManager:
        enabled: true
        cert:
          issuerRef:
            name: vault-issuer
            kind: ClusterIssuer
            group: cert-manager.io
          duration: 2160h # 90d
      image:
        repository: ghcr.io/external-secrets/external-secrets
      lookaheadInterval: 240h # 10d
      serviceMonitor:
        enabled: true
        interval: 1m
