---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./networkpolicy.yaml
  - ./ocirepository.yaml
  - ./helmrelease.yaml
  - ./grafanadashboard.yaml
  - ./clustersecretstore.yaml
