---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: k8s-gateway
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: k8s-gateway
  values:
    fullnameOverride: k8s-gateway
    domain: "darkfellanetwork.com"
    service:
      type: LoadBalancer
      port: 53
      annotations:
        lbipam.cilium.io/ips: 192.168.91.80
      externalTrafficPolicy: Local
    watchedResources: ["HTTPRoute", "Service"]
    fallthrough:
      enabled: false
      zones:
        - router.darkfellanetwork.com
        - plex.darkfellanetwork.com
        - nas.darkfellanetwork.com
    extraZonePlugins:
      - name: log
      - name: errors
      - name: health
        configBlock: |-
          lameduck 5s
      - name: ready
      - name: prometheus
        parameters: 0.0.0.0:9153
      - name: forward
        parameters: . 192.168.91.1
      - name: loop
      - name: reload
      - name: loadbalance
