---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: cert-manager
spec:
  interval: 1h
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: v1.19.1
  url: oci://ghcr.io/d4rkfella/charts-mirror/cert-manager
  verify:
    provider: cosign
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: cert-manager
  values:
    global:
      hostUsers: false
    crds:
      enabled: true
      keep: true
    enableCertificateOwnerRef: true
    dns01RecursiveNameservers: https://1.1.1.1:443/dns-query,https://1.0.0.1:443/dns-query
    dns01RecursiveNameserversOnly: true
    prometheus:
      enabled: true
      servicemonitor:
        enabled: true
        endpointAdditionalProperties:
          scheme: https
          tlsConfig:
            serverName: cert-manager-metrics
            ca:
              secret:
                name: cert-manager-metrics-ca
                key: "tls.crt"
    config:
      metricsTLSConfig:
        dynamic:
          secretNamespace: "cert-manager"
          secretName: "cert-manager-metrics-ca"
          dnsNames:
            - cert-manager-metrics
    webhook:
      config:
        metricsTLSConfig:
          dynamic:
            secretNamespace: "cert-manager"
            secretName: "cert-manager-metrics-ca"
            dnsNames:
              - cert-manager-metrics
    cainjector:
      config:
        metricsTLSConfig:
          dynamic:
            secretNamespace: "cert-manager"
            secretName: "cert-manager-metrics-ca"
            dnsNames:
              - cert-manager-metrics
    hostAliases:
      - ip: "192.168.91.53"
        hostnames:
          - vault.darkfellanetwork.com
    extraObjects:
      - |
        ---
        apiVersion: v1
        kind: ServiceAccount
        metadata:
          name: vault-issuer
      - |
        apiVersion: rbac.authorization.k8s.io/v1
        kind: Role
        metadata:
          name: vault-issuer
        rules:
          - apiGroups: ['']
            resources: ['serviceaccounts/token']
            resourceNames: ['vault-issuer']
            verbs: ['create']
      - |
        apiVersion: rbac.authorization.k8s.io/v1
        kind: RoleBinding
        metadata:
          name: vault-issuer
        subjects:
          - kind: ServiceAccount
            name: cert-manager
        roleRef:
          apiGroup: rbac.authorization.k8s.io
          kind: Role
          name: vault-issuer
      - |
        apiVersion: monitoring.coreos.com/v1
        kind: PrometheusRule
        metadata:
          name: cert-manager-rules
        spec:
          groups:
            - name: cert-manager.rules
              rules:
                - alert: CertManagerAbsent
                  expr: |
                    absent(up{job="cert-manager"})
                  for: 5m
                  annotations:
                    summary: >-
                      Cert Manager has dissapeared from Prometheus service discovery
                  labels:
                    severity: critical

            - name: certificates
              rules:
                - alert: CertManagerCertExpirySoon
                  expr: |
                    avg by (exported_namespace, namespace, name) (certmanager_certificate_expiration_timestamp_seconds - time()) < (21 * 24 * 3600)
                  for: 5m
                  annotations:
                    summary: >-
                      The cert {{ $labels.name }} is {{ $value | humanizeDuration }} from expiry, it should have renewed over a week ago
                  labels:
                    severity: critical

                - alert: CertManagerCertNotReady
                  expr: |
                    max by (name, exported_namespace, namespace, condition) (certmanager_certificate_ready_status{condition!="True"} == 1)
                  for: 5m
                  annotations:
                    summary: >-
                      The cert {{ $labels.name }} is not ready to serve traffic
                  labels:
                    severity: critical

                - alert: CertManagerHittingRateLimits
                  expr: |
                    sum by (host) (rate(certmanager_http_acme_client_request_count{status="429"}[5m])) > 0
                  for: 5m
                  annotations:
                    summary: >-
                      Cert manager hitting LetsEncrypt rate limits
                  labels:
                    severity: critical
