apiVersion: gateway.networking.k8s.io/v1alpha3
kind: BackendTLSPolicy
metadata:
  name: artifactory
spec:
  targetRefs:
    - group: ""
      kind: Service
      name: artifactory
  validation:
    hostname: artifactory.artifactory.svc.cluster.local
    caCertificateRefs:
      - group: ""
        kind: Secret
        name: artifactory-ca
---
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: Backend
metadata:
  name: artifactory-tls-backend
spec:
  endpoints:
    - fqdn:
        hostname: artifactory.artifactory.svc.cluster.local
        port: 8082
