---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: artifactory
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: hashicorp-vault
  target:
    name: artifactory-secret
    template:
      type: kubernetes.io/dockerconfigjson
  dataFrom:
    - extract:
        key: secrets/artifactory
