apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: artifactory
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: hashicorp-vault
  target:
    name: artifactory-secret
  data:
    - secretKey: POSTGRES_SUPER_PASS
      remoteRef:
        key: secrets/postgres
        property: password
  dataFrom:
    - extract:
        key: secrets/artifactory
