---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: artifactory
spec:
  interval: 1h
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 107.125.6
  url: oci://ghcr.io/d4rkfella/charts-mirror/artifactory
  verify:
    provider: cosign
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: artifactory
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: artifactory
  postRenderers:
  - kustomize:
      patches:
        - target:
            kind: "StatefulSet"
            name: "artifactory"
          patch: |-
            - op: add
              path: /spec/template/spec/hostUsers
              value: false
            - op: add
              path: /spec/template/spec/imagePullSecrets
              value:
                - name: ghcr-pull-secret
  values:
    mc:
      enabled: true
    router:
      tlsEnabled: true
    access:
      accessConfig:
        security:
          tls: true
      customCertificatesSecretName: artifactory-ca
    jfconnect:
      enabled: true
    onemodel:
      enabled: true
    artifactory:
      statefulset:
        annotations:
          reloader.stakater.com/auto: "true"
      license:
        secret: artifactory-secret
        dataKey: license-key
      image:
        registry: ghcr.io
        repository: d4rkfella/artifactory-pro
        tag: 7.125.6
        digest: sha256:89a8a6f09cfb88c45da613903ded11832371c63ae8aab78eaede0716b12819fc
        pullPolicy: IfNotPresent
      persistence:
        size: 200Gi
      extraSystemYaml:
        artifactory:
          tomcat:
            httpsConnector:
                enabled: true
      masterKeySecretName: artifactory-secret
      joinKeySecretName: artifactory-secret
      admin:
        secret: artifactory-secret
        dataKey: bootstrap.creds
      customInitContainers: |
        - name: "init-db"
          image: ghcr.io/d4rkfella/postgres-init:0.1.0@sha256:bf523baf0575d7a44a6572f50d7188db225e0642d80158093cd1f4ffa61cc317
          imagePullPolicy: IfNotPresent
          securityContext:
            runAsUser: 65532
            runAsGroup: 65532
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            capabilities: { drop: ["ALL"] }
            seccompProfile: { type: RuntimeDefault }
          env:
            - name: POSTGRES_HOST
              value: postgres-db-rw.database.svc.cluster.local
            - name: POSTGRES_DBNAME
              value: artifactory
            - name: POSTGRES_PASS
              valueFrom:
                secretKeyRef:
                  name: artifactory-secret
                  key: db-password
            - name: POSTGRES_SSLMODE
              value: require
            - name: POSTGRES_SUPER_PASS
              valueFrom:
                secretKeyRef:
                  name: artifactory-secret
                  key: POSTGRES_SUPER_PASS
            - name: POSTGRES_SUPER_USER
              value: postgres
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: artifactory-secret
                  key: db-user
    postgresql:
      enabled: false
    database:
      type: "postgresql"
      driver: org.postgresql.Driver
      secrets:
        user:
          name: &secret artifactory-secret
          key: "db-user"
        password:
          name: *secret
          key: "db-password"
        url:
          name: *secret
          key: "db-url"
    nginx:
      enabled: true
      kind: Deployment
      name: nginx
      labels: {}
      hosts: []
      replicaCount: 1
      podSecurityContext:
        enabled: true
        runAsUser: 104
        runAsGroup: 107
        fsGroup: 107
      containerSecurityContext:
        enabled: true
        runAsNonRoot: true
        privileged: false
        readOnlyRootFilesystem: false
        allowPrivilegeEscalation: false
        capabilities:
          drop: ["ALL"]
        seccompProfile:
          type: "RuntimeDefault"
      image:
        registry: releases-docker.jfrog.io
        repository: jfrog/nginx-artifactory-pro
        pullPolicy: IfNotPresent
      service:
        type: LoadBalancer
        ssloffload: true
        ssloffloadForceHttps: true
        annotations:
          lbipam.cilium.io/ips: 192.168.91.50
          external-dns.alpha.kubernetes.io/hostname: packages.darkfellanetwork.com
      tlsSecretName: artifactory-tls
      loggers:
        - access.log
        - error.log
      logs:
        stderr: true
        stdout: true
