---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: artifactory
spec:
  interval: 1h
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 107.125.8
  url: oci://ghcr.io/d4rkfella/charts-mirror/artifactory
  verify:
    provider: cosign
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: artifactory
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: artifactory
  postRenderers:
  - kustomize:
      patches:
        - target:
            kind: "StatefulSet"
            name: "artifactory"
          patch: |-
            - op: add
              path: /spec/template/spec/hostUsers
              value: false
            - op: add
              path: /spec/template/spec/imagePullSecrets
              value:
                - name: ghcr-pull-secret
  values:
    mc:
      enabled: true
    access:
      accessConfig:
        security:
          tls: true
      customCertificatesSecretName: artifactory-ca
    jfconnect:
      enabled: true
    onemodel:
      enabled: true
    artifactory:
      statefulset:
        annotations:
          reloader.stakater.com/auto: "true"
      license:
        secret: artifactory-secret
        dataKey: license-key
      image:
        registry: ghcr.io
        repository: d4rkfella/artifactory-pro
        tag: 7.125.8@sha256:306639d30f022c67654b2a477ea1f22b1853e9f02ca90fbf0ef5d490c8e9ac5d
        pullPolicy: IfNotPresent
      persistence:
        size: 200Gi
      extraSystemYaml:
        artifactory:
          tomcat:
            httpsConnector:
                enabled: true
      masterKeySecretName: artifactory-secret
      joinKeySecretName: artifactory-secret
      admin:
        secret: artifactory-secret
        dataKey: bootstrap.creds
      customInitContainers: |
        - name: "init-db"
          image: ghcr.io/d4rkfella/postgres-init:0.1.1@sha256:ee61d261ba4f5e024f1130d10eb1e06e9ab6db1ec652b6a2d5178f5029f3e92c
          imagePullPolicy: IfNotPresent
          securityContext:
            runAsUser: 65532
            runAsGroup: 65532
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            capabilities: { drop: ["ALL"] }
            seccompProfile: { type: RuntimeDefault }
          env:
            - name: POSTGRES_HOST
              value: postgres-db-rw.database.svc.cluster.local
            - name: POSTGRES_DBNAME
              value: artifactory
            - name: POSTGRES_PASS
              valueFrom:
                secretKeyRef:
                  name: artifactory-secret
                  key: db-password
            - name: POSTGRES_SSLMODE
              value: require
            - name: POSTGRES_SUPER_PASS
              valueFrom:
                secretKeyRef:
                  name: artifactory-secret
                  key: POSTGRES_SUPER_PASS
            - name: POSTGRES_SUPER_USER
              value: postgres
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: artifactory-secret
                  key: db-user
    postgresql:
      enabled: false
    database:
      type: "postgresql"
      driver: org.postgresql.Driver
      secrets:
        user:
          name: &secret artifactory-secret
          key: "db-user"
        password:
          name: *secret
          key: "db-password"
        url:
          name: *secret
          key: "db-url"
    nginx:
      enabled: false
