apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: jfrog
spec:
  interval: 1h
  url: https://charts.jfrog.io
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: artifactory
spec:
  interval: 1h
  chart:
    spec:
      chart: artifactory-oss
      version: "107.111.9"
      sourceRef:
        kind: HelmRepository
        name: jfrog
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  postRenderers:
  - kustomize:
      patches:
        - target:
            kind: "StatefulSet"
            name: "artifactory"
          patch: |-
            - op: add
              path: /spec/template/spec/hostUsers
              value: false
  values:
    artifactory:
      artifactory:
        extraSystemYaml:
          observability:
            consumption:
              allow: ""
        masterKeySecretName: artifactory-secret
        joinKeySecretName: artifactory-secret
        admin:
          secret: artifactory-secret
          dataKey: bootstrap.creds
        #customInitContainers: |
          #- name: "init-db"
            #image: ghcr.io/d4rkfella/postgres-init:0.1.0@sha256:d11101e3d4a2a4bcfce21df1b8c42af51ad821c132e3df7ef5c57b2fb165798f
            #imagePullPolicy: IfNotPresent
            #securityContext:
              #runAsUser: 65532
              #runAsGroup: 65532
              #runAsNonRoot: true
              #allowPrivilegeEscalation: false
              #capabilities: { drop: ["ALL"] }
              #seccompProfile: { type: RuntimeDefault }
            #env:
              #- name: POSTGRES_HOST
                #value: postgres-v17-rw.database.svc.cluster.local
              #- name: POSTGRES_DBNAME
                #value: artifactory
              #- name: POSTGRES_PASS
                #valueFrom:
                  #secretKeyRef:
                    #name: artifactory-secret
                    #key: db-password
              #- name: POSTGRES_SSLMODE
                #value: require
              #- name: POSTGRES_SUPER_PASS
                #valueFrom:
                  #secretKeyRef:
                    #name: artifactory-secret
                    #key: POSTGRES_SUPER_PASS
              #- name: POSTGRES_SUPER_USER
                #value: postgres-db-manager
              #- name: POSTGRES_USER
                #valueFrom:
                  #secretKeyRef:
                    #name: artifactory-secret
                    #key: db-user
      nginx:
        enabled: false
      postgresql:
        enabled: false
      database:
        type: "postgresql"
        driver: org.postgresql.Driver
        secrets:
          user:
            name: &secret artifactory-secret
            key: "db-user"
          password:
            name: *secret
            key: "db-password"
          url:
            name: *secret
            key: "db-url"
