---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: artifactory
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: artifactory
  postRenderers:
  - kustomize:
      patches:
        - target:
            kind: "StatefulSet"
            name: "artifactory"
          patch: |-
            - op: add
              path: /spec/template/spec/imagePullSecrets
              value:
                - name: artifactory-secret
  values:
    mc:
      enabled: true
    access:
      accessConfig:
        security:
          tls: true
      customCertificatesSecretName: artifactory-ca
    jfconnect:
      enabled: true
    onemodel:
      enabled: true
    artifactory:
      statefulset:
        annotations:
          reloader.stakater.com/auto: "true"
      license:
        secret: artifactory-secret
        dataKey: license-key
      image:
        registry: ghcr.io
        repository: d4rkfella/artifactory-pro
        tag: 7.133.8@sha256:2f18427324abf3480a69c3e029899db5042d5f8230b4fd3144b63cb02e06413e
        pullPolicy: IfNotPresent
      persistence:
        size: 200Gi
      customVolumes: |
        - name: nfs-backup-volume
          nfs:
            server: 192.168.91.40
            path: /mnt/exos20/artifactory-backup
      customVolumeMounts: |
        - name: nfs-backup-volume
          mountPath: /var/opt/jfrog/artifactory/backup/nfs
      haBackupDir:
        enabled: true
        path: /var/opt/jfrog/artifactory/backup/nfs
      extraSystemYaml:
        artifactory:
          tomcat:
            httpsConnector:
                enabled: true
          backup:
            dir: /var/opt/jfrog/artifactory/backup/nfs
      masterKeySecretName: &secret artifactory-secret
      joinKeySecretName: *secret
      admin:
        secret: artifactory-secret
        dataKey: bootstrap.creds
    postgresql:
      enabled: false
    database:
      type: "postgresql"
      driver: org.postgresql.Driver
      secrets:
        user:
          name: *secret
          key: "db-user"
        password:
          name: *secret
          key: "db-password"
        url:
          name: *secret
          key: "db-url"
    nginx:
      enabled: false
