---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: artifactory-httproute-external
spec:
  hostnames: ["packages.darkfellanetwork.com"]
  parentRefs:
    - name: artifactory
      namespace: envoy-gateway-system
      sectionName: https
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: artifactory
          namespace: artifactory
          port: 8082
---
apiVersion: gateway.networking.k8s.io/v1alpha3
kind: BackendTLSPolicy
metadata:
  name: artifactory
spec:
  targetRefs:
    - group: ""
      kind: Service
      name: artifactory
  validation:
    hostname: artifactory.artifactory.svc.cluster.local
    caCertificateRefs:
      - group: ""
        kind: Secret
        name: artifactory-secret
