---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: artifactory-httproute-external
spec:
  hostnames: ["packages.darkfellanetwork.com"]
  parentRefs:
    - name: artifactory
      namespace: envoy-gateway-system
      sectionName: https
  rules:
    - matches:
      - path:
          type: PathPrefix
          value: /
      backendRefs:
        - group: gateway.envoyproxy.io
          kind: Backend
          name: artifactory-default-backend
    - matches:
      - path:
          type: PathPrefix
          value: /artifactory/
      backendRefs:
        - group: gateway.envoyproxy.io
          kind: Backend
          name: artifactory-router-backend
