---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: sonarr
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: hashicorp-vault
  target:
    name: sonarr-secret
  dataFrom:
    - extract:
        key: secrets/sonarr
    - extract:
        key: secrets/pushover
