---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: qbitmanage
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: hashicorp-vault
  target:
    name: qbitmanage-secret
  dataFrom:
    - extract:
        key: secrets/qbitmanage
