---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: gatus
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: hashicorp-vault
  target:
    name: gatus-secret
  dataFrom:
    - extract:
        key: secrets/gatus
    - extract:
        key: secrets/certificates/postgres
    - extract:
        key: secrets/pushover
