---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app smartctl-exporter
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: prometheus-smartctl-exporter
  driftDetection:
    mode: enabled
    ignore:
      # Ignore "validated" annotation which is not inserted during install
      - paths: ["/metadata/annotations/prometheus-operator-validated"]
        target:
          kind: PrometheusRule
  values:
    fullnameOverride: *app
    serviceMonitor:
      enabled: true
    prometheusRules:
      enabled: false
    image:
      repository: ghcr.io/d4rkfella/smartctl_exporter
      tag: 0.14.0@sha256:8a1a935a5ac39029b49a57d86ec014d38aeb0fa23b8031012976faf1253b79e8
