---
# yaml-language-server: $schema=https://homelab-schemas-epg.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1beta2.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: alloy
spec:
  interval: 1h
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 1.1.0
  url: oci://ghcr.io/d4rkfella/charts-mirror/alloy
  verify:
    provider: cosign
---
# yaml-language-server: $schema=https://homelab-schemas-epg.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: alloy
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: alloy
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  postRenderers:
  - kustomize:
      patches:
      - target:
          kind: StatefulSet
          name: alloy
        patch: |-
          - op: add
            path: /spec/template/spec/hostUsers
            value: false
  values:
    fullnameOverride: alloy
    serviceMonitor:
      enabled: true
    alloy:
      configMap:
        create: false
        name: alloy-configmap
        key: config.alloy
      storagePath: /var/lib/alloy
      enableReporting: false
      mounts:
        extra:
          - name: alloy
            mountPath: /var/lib/alloy
    controller:
      podAnnotations:
        configmap.reloader.stakater.com/reload: alloy-configmap
      type: "statefulset"
      replicas: 1
      enableStatefulSetAutoDeletePVC: true
      volumeClaimTemplates:
        - metadata:
            name: alloy
          spec:
            accessModes: [ReadWriteOnce]
            storageClassName: openebs-zfs-128k
            resources:
              requests:
                storage: 5Gi
