---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./ocirepository.yaml
  - ./helmrelease.yaml
configMapGenerator:
  - name: alloy-configmap
    files:
      - ./config/config.alloy
    options:
      disableNameSuffixHash: true
