---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: grafana
spec:
  hostnames:
    - grafana.darkfellanetwork.com
  parentRefs:
    - name: internal
      namespace: envoy-gateway-system
  rules:
    - backendRefs:
        - name: grafana-service
          port: 3000
