---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app dragonfly-operator
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    serviceAccount:
      dragonfly-operator: {}
    controllers:
      dragonfly-operator:
        serviceAccount:
          identifier: dragonfly-operator
        containers:
          rbac-proxy:
            image:
              repository: quay.io/brancz/kube-rbac-proxy
              tag: v0.20.1@sha256:f5fbfec6a2b28726763880345f231d293fabb016f7abf6ad725c884bb0508edd
            args:
              - "--secure-listen-address=0.0.0.0:8443"
              - "--upstream=http://127.0.0.1:8080/"
              - "--tls-cert-file=/certs/dragonfly-operator-tls/tls.crt"
              - "--tls-private-key-file=/certs/dragonfly-operator-tls/tls.key"
              - "--tls-min-version=VersionTLS13"
              - "--v=0"
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 5m
                memory: 64Mi
              limits:
                memory: 128Mi
          app:
            image:
              repository: ghcr.io/dragonflydb/operator
              tag: v1.3.1@sha256:7410dc31c05bca2c0648fca232f2300b897f8d77f001c19d75c9647f830d768b
            args:
              - "--health-probe-bind-address=:8081"
              - "--metrics-bind-address=127.0.0.1:8080"
              - "--leader-elect"
            command:
              - "/manager"
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthz
                    port: &port 8081
                  initialDelaySeconds: 15
                  periodSeconds: 20
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /readyz
                    port: *port
                  initialDelaySeconds: 5
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              startup:
                enabled: false
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 128Mi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65532
        runAsGroup: 65532
        seccompProfile: { type: RuntimeDefault }

    service:
      app:
        controller: *app
        ports:
          https:
            port: 8443

    serviceMonitor:
      app:
        serviceName: *app
        endpoints:
          - port: https
            scheme: https
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
            bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
            tlsConfig:
              caFile: /etc/ssl/certs/internal-ca.crt

    persistence:
      certificate:
          type: secret
          name: "{{ .Release.Name }}-tls"
          globalMounts:
            - path: /certs/dragonfly-operator-tls
              readOnly: true
