---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: buildkit-amd64
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      buildkit-amd64:
        replicas: 1
        containers:
          buildkitd:
            image:
              repository: moby/buildkit
              tag: v0.25.2@sha256:0f63d66f8d2de0bd16438284831a3e9ee6ca7cd57b6eb3ed6e38a7a456590fa7
            args:
              - --addr
              - unix:///run/buildkit/buildkitd.sock
              - --addr
              - tcp://0.0.0.0:9999
              - --tlscacert
              - /certs/ca.crt
              - --tlscert
              - /certs/tls.crt
              - --tlskey
              - /certs/tls.key
              - --oci-worker-snapshotter
              - fuse-overlayfs
            ports:
              - name: grpc
                containerPort: 9999
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  exec:
                    command:
                      - buildctl
                      - debug
                      - workers
                  initialDelaySeconds: 3
                  periodSeconds: 30
              readiness:
                enabled: true
                custom: true
                spec:
                  exec:
                    command:
                      - buildctl
                      - debug
                      - workers
                  initialDelaySeconds: 3
                  periodSeconds: 30
            securityContext:
              privileged: true

    defaultPodOptions:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/arch
                    operator: In
                    values:
                      - amd64
      annotations:
        reloader.stakater.com/auto: "true"
      hostUsers: false

    persistence:
      config:
        type: configMap
        name: buildkit-config
        globalMounts:
          - path: /etc/buildkit
      root:
        type: persistentVolumeClaim
        storageClass: openebs-zfs-128k
        accessMode: ReadWriteOnce
        retain: true
        size: 100Gi
        globalMounts:
          - path: /var/lib/buildkit
      run:
        type: emptyDir
        medium: Memory
        sizeLimit: 10Mi
        globalMounts:
          - path: /run
          - path: /var/run
      certs:
        type: secret
        name: buildkit-amd64-tls
        globalMounts:
          - path: /certs
            readOnly: true

    service:
      buildkit-amd64:
        controller: buildkit-amd64
        ports:
          grpc:
            enabled: true
            port: 9999
            protocol: TCP
