---
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: keycloak-k8s-resources
spec:
  interval: 24h
  url: https://github.com/keycloak/keycloak-k8s-resources
  ref:
    tag: 26.5.4
  ignore: |
    /*
    !/kubernetes
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: keycloak-operator
spec:
  interval: 1h
  retryInterval: 2m
  timeout: 5m
  path: ./kubernetes
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: keycloak-k8s-resources
