---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: multus
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: multus
  values:
    cni-plugins:
      image:
        repository: ghcr.io/d4rkfella/cni-plugins
        tag: 1.9.0@sha256:563291f05f4f6589640f4c847802144f236fd12bae5480c9c64074d3217e8d03
      resources: {}
    multus:
      image:
        repository: ghcr.io/d4rkfella/multus-cni
        tag: 4.2.3@sha256:b8a8858932b6fdf96f270674b3ff906fde69bc81e360f21db0cbe0bfd4a7b426
      resources:
        requests:
          cpu: 10m
        limits:
          memory: 512Mi
    cni:
      netPath: /etc/cni/net.d
      binPath: /opt/cni/bin
