---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app multus
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.6.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    controllers:
      multus:
        type: daemonset
        initContainers:
          install-multus-binary:
            image:
              repository: ghcr.io/k8snetworkplumbingwg/multus-cni
              tag: v4.1.4@sha256:09fdfb7ce090ccbf8927d2728970c3cdeb5917d48209f692de849e384f00d893
            command: ["/install_multus"]
            args:
              - --type
              - thin
            securityContext:
              privileged: true
            terminationMessagePolicy: FallbackToLogsOnError
          install-cni-plugins:
            image:
              repository: ghcr.io/buroa/cni-plugins
              tag: 1.6.2@sha256:b8bf519bda14762782525bb5607d852a76c4bf0da5ffbd8ca021469818ccd8f8
        containers:
          multus:
            image:
              repository: ghcr.io/k8snetworkplumbingwg/multus-cni
              tag: v4.1.4@sha256:09fdfb7ce090ccbf8927d2728970c3cdeb5917d48209f692de849e384f00d893
            command:
              - /thin_entrypoint
            args:
              - --multus-conf-file=auto
              - --multus-autoconfig-dir=/host/etc/cni/net.d
              - --cni-conf-dir=/host/etc/cni/net.d
              - --cleanup-config-on-exit=true
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 50Mi
            securityContext:
              privileged: true
            terminationMessagePolicy: FallbackToLogsOnError
    defaultPodOptions:
      hostNetwork: true
      terminationGracePeriodSeconds: 10
    persistence:
      cni:
        type: hostPath
        hostPath: /etc/cni/net.d
        advancedMounts:
          multus:
            multus:
              - path: /host/etc/cni/net.d
      cnibin:
        type: hostPath
        hostPath: /opt/cni/bin
        advancedMounts:
          multus:
            install-multus-binary:
              - path: /host/opt/cni/bin
                mountPropagation: Bidirectional
            multus:
              - path: /host/opt/cni/bin
            install-cni-plugins:
              - path: /host/opt/cni/bin
    serviceAccount:
      create: true
      name: *app
