---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: cloudflared-tunnel
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: vault-backend
  target:
    name: cloudflared-tunnel-secret
    template:
      engineVersion: v2
      data:
        credentials.json: |
          {
            "AccountTag": "{{ .CF_ACCOUNT_TAG }}",
            "TunnelSecret": "{{ .CF_TUNNEL_SECRET }}",
            "TunnelID": "{{ .CF_TUNNEL_ID }}"
          }
  dataFrom:
    - extract:
        key: cloudflare
