---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name actions-runner-controller
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: gha-runner-scale-set-controller
  postRenderers:
    - kustomize:
        patches:
          - target:
              kind: Deployment
            patch: |
              - op: replace
                path: /spec/template/metadata/labels/app.kubernetes.io~1version
                value: 0.11.0
              - op: add
                path: /spec/template/spec/hostUsers
                value: false
  values:
    fullnameOverride: *name
    replicaCount: 1
    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 65532
      runAsGroup: 65532
      seccompProfile: { type: RuntimeDefault }
    securityContext:
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
      capabilities: { drop: ["ALL"] }
    flags:
      watchSingleNamespace: arc-runners
    namespaceOverride: arc-system
    image:
      repository: "ghcr.io/d4rkfella/actions-runner-controller"
      pullPolicy: IfNotPresent
      tag: "0.13.0@sha256:cb0d4d4c30ba63dd00e178f884c4dffac51892df2b7ee78535751a26e5b86136"
