---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: zfs-localpv
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: zfs-localpv
  postRenderers:
    - kustomize:
        patches:
          - target:
              kind: ClusterRole
              name: openebs-zfs-provisioner-role
            patch: |
              - op: add
                path: /rules/0/resources/-
                value: volumeattributesclasses
              - op: add
                path: /rules/0/verbs/-
                value: list
  values:
    crds:
      csi:
        volumeSnapshots:
          enabled: false
    zfsNode:
      encrKeysDir: /var/openebs/keys
      driverRegistrar:
        image:
          registry: registry.k8s.io/
          repository: sig-storage/csi-node-driver-registrar
          tag: v2.15.0
    zfsController:
      resizer:
        image:
          registry: registry.k8s.io/
          repository: sig-storage/csi-resizer
          tag: v2.0.0
      snapshotter:
        image:
          registry: registry.k8s.io/
          repository: sig-storage/csi-snapshotter
          tag: v8.4.0
      snapshotController:
        image:
          registry: registry.k8s.io/
          repository: sig-storage/snapshot-controller
          tag: v8.4.0
      provisioner:
        image:
          registry: registry.k8s.io/
          repository: sig-storage/csi-provisioner
          tag: v6.1.0
    zfs:
      bin: /usr/local/sbin/zfs

    analytics:
      enabled: false
