---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbittorrent
spec:
  interval: 30m
  chart:
    spec:
      verify:
        provider: cosign
      chart: app-template
      version: 3.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: volsync
      namespace: volsync-system

  values:
    controllers:
      torrenting:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          qbittorrent:
            image:
              repository: ghcr.io/onedr0p/qbittorrent
              tag: 5.0.3@sha256:025f32d260a3e924885405c0ca01ab8e396360330438ef8562ffd973d2dbb927
            env:
              UMASK: "022"
              TZ: &TZ Europe/Sofia
              QBT_WEBUI_PORT: &port 80
              QBT_TORRENTING_PORT: &torrentPort 50413
              CROSS_SEED_ENABLED: true
              CROSS_SEED_HOST: cross-seed.darkfellanetwork.com
              CROSS_SEED_SLEEP_INTERVAL: 15
              PUSHOVER_ENABLED: true
              CROSS_SEED_API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: &secret qbittorrent-secret
                    key: CROSS_SEED_API_KEY
              PUSHOVER_TOKEN:
                valueFrom:
                  secretKeyRef:
                    name: *secret
                    key: PUSHOVER_TOKEN
              PUSHOVER_USER_KEY:
                valueFrom:
                  secretKeyRef:
                    name: *secret
                    key: PUSHOVER_USER_KEY
            probes:
              readiness: &probes
                enabled: true
                custom: true
                spec:
                  exec:
                    command:
                      - /scripts/healthcheck.sh
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  failureThreshold: 3
              liveness: *probes
            securityContext: &securityContext
              privileged: false
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 16Gi

          vuetorrent:
            image:
              repository: registry.k8s.io/git-sync/git-sync
              tag: v4.4.0
            args:
              - --repo=https://github.com/WDaan/VueTorrent
              - --ref=latest-release
              - --period=86400s
              - --root=/addons
            securityContext: *securityContext
            resources:
              requests:
                cpu: 10m
                memory: 25Mi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 2000
        runAsGroup: 2000
        fsGroup: 2000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }

    service:
      app:
        controller: torrenting
        type: LoadBalancer
        allocateLoadBalancerNodePorts: false
        annotations:
          lbipam.cilium.io/ips: 192.168.91.82
        ports:
          http:
            port: *port
          bittorrent-tcp:
            enabled: true
            port: *torrentPort
            protocol: TCP
          bittorrent-udp:
            enabled: true
            port: *torrentPort
            protocol: UDP

    ingress:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/target: internal.darkfellanetwork.com
          nginx.ingress.kubernetes.io/configuration-snippet: |
            proxy_set_header Accept-Encoding "";
            sub_filter '</body>' '<link rel="stylesheet" type="text/css" href="https://theme-park.dev/css/base/vuetorrent/mind.css"></body>';
            sub_filter_once on;
          cert-manager.io/cluster-issuer: zerossl-prod
          cert-manager.io/private-key-rotation-policy: Always
          cert-manager.io/private-key-algorithm: ECDSA
          cert-manager.io/private-key-size: "384"
        className: internal
        tls:
          - hosts:
              - &host "{{ .Release.Name }}.darkfellanetwork.com"
            secretName: qbittorrent-tls
        hosts:
          - host: *host
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        size: 5Gi
        accessMode: ReadWriteOnce
        storageClass: openebs-zfs-128k
        advancedMounts:
          torrenting:
            qbittorrent:
              - path: /config

      scripts:
        type: configMap
        name: qbittorrent-scripts
        defaultMode: 0500
        advancedMounts:
          torrenting:
            qbittorrent:
              - readOnly: true

      media:
        type: nfs
        server: 192.168.91.40
        path: /mnt/exos20/data
        advancedMounts:
          torrenting:
            qbittorrent:
              - path: /data/downloads/torrents
                subPath: downloads/torrents

      addons:
        type: emptyDir
        advancedMounts:
          torrenting:
            qbittorrent:
              - path: /addons
                readOnly: true
            vuetorrent:
              - path: /addons

      tmp:
        type: emptyDir
        advancedMounts:
          torrenting:
            qbittorrent:
              - path: /tmp
