---
apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: mount-internal-ca
spec:
  mutateExistingOnPolicyUpdate: true
  rules:
    - name: mount-internal-ca-into-containers
      match:
        any:
          - resources:
              kinds:
                - Pod
      mutate:
        targets:
          - apiVersion: v1
            kind: Pod

        patchStrategicMerge:
          spec:
            volumes:
              - name: internal-ca
                secret:
                  secretName: internal-ca
            containers:
              - (name): "*"
                volumeMounts:
                  - name: internal-ca
                    mountPath: /etc/ssl/certs/internal-ca.crt
                    subPath: ca.crt
                    readOnly: true
