---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./networkpolicy.yaml
  - ./externalsecret.yaml
  - ./vault.secret.sops.yaml
  - ./certificate.yaml
  - ./ocirepository.yaml
  - ./helmrelease.yaml
  - ./cronjob.yaml
