# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app microbin
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  driftDetection:
    mode: enabled
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      microbin:
        containers:
          app:
            env:
              MICROBIN_DATA_DIR: /var/lib/microbin
              MICROBIN_PORT: &port 8080
              MICROBIN_PUBLIC_PATH: https://microbin.darkfellanetwork.com
              MICROBIN_SHORT_PATH: https://microbin.darkfellanetwork.com
              MICROBIN_READONLY: true
              MICROBIN_HIDE_HEADER: true
              MICROBIN_HIDE_FOOTER: true
              MICROBIN_HIDE_LOGO: true
              MICROBIN_NO_LISTING: true
              MICROBIN_ENABLE_BURN_AFTER: true
              MICROBIN_WIDE: true
              MICROBIN_ETERNAL_PASTA: true
              MICROBIN_ENABLE_READONLY: true
              MICROBIN_HASH_IDS: true
            envFrom:
              - secretRef:
                  name: microbin-secret
            image:
              repository: ghcr.io/vaskozl/microbin-bin
              tag: 2.0.4@sha256:0000f4437ebab722152aaba944d6efa512c8de273146c658648c7ac61f4d2ec8
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              limits:
                memory: 80Mi
              requests:
                cpu: 10m
                memory: 10Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              readOnlyRootFilesystem: true
        statefulset:
          podManagementPolicy: Parallel
          volumeClaimTemplates:
            - accessMode: ReadWriteOnce
              globalMounts:
                - path: /var/lib/microbin
              name: data
              size: 1Mi
        type: statefulset
    defaultPodOptions:
      securityContext:
        fsGroup: 65532
        runAsGroup: 65532
        runAsNonRoot: true
        runAsUser: 65532
        seccompProfile:
          type: RuntimeDefault
      shareProcessNamespace: true
    route:
      app:
        hostnames: ["{{ .Release.Name }}.darkfellanetwork.com"]
        parentRefs:
          - name: external
            namespace: envoy-gateway-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    service:
      app:
        controller: microbin
        ports:
          http:
            port: 8080
