---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &secret cross-seed-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: vault-backend
  target:
    name: *secret
    template:
      engineVersion: v2
      data:
        config.js: |
          module.exports = {
            action: "inject",
            apiKey: "{{.CROSS_SEED_API_KEY}}",
            delay: 30,
            duplicateCategories: false,
            flatLinking: false,
            includeEpisodes: true,
            includeNonVideos: true,
            includeSingleEpisodes: true,
            linkCategory: "cross-seed",
            linkDir: "/data/downloads/torrents/complete/cross-seed",
            linkType: "hardlink",
            matchMode: "safe",
            outputDir: "/config",
            port: 2468,
            qbittorrentUrl: "https://{{ .QBITTORRENT_USERNAME }}:{{ .QBITTORRENT_PASSWORD }}@qbittorrent.darkfellanetwork.com",
            radarr: ["https://radarr.darkfellanetwork.com/?apikey={{ .RADARR_API_KEY }}"],
            skipRecheck: true,
            sonarr: ["https://sonarr.darkfellanetwork.com/?apikey={{ .SONARR_API_KEY }}"],
            torrentDir: "/qBittorrent/BT_backup",
            torznab: [
                3, // IPT
                1, // SA
                2, // TL
            ].map(i => `https://prowlarr.darkfellanetwork.com/$${i}/api?apikey={{ .PROWLARR_API_KEY }}`),
          };
  dataFrom:
    - extract:
        key: secrets/api-keys
    - extract:
        key: secrets/qbittorrent
