---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cross-seed
spec:
  interval: 30m
  chart:
    spec:
      verify:
        provider: cosign
      chart: app-template
      version: 3.6.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  dependsOn:
    - name: qbittorrent
      namespace: media
  values:
    controllers:
      cross-seed:
        annotations:
          secret.reloader.stakater.com/reload: cross-seed-secret

        containers:
          app:
            image:
              repository: ghcr.io/cross-seed/cross-seed
              tag: 6.8.4@sha256:996896878ab462ded031552824c4fd773a2cf484582829029eda323b3c01e1b4
            args: ["daemon", "-v"]
            env:
              TZ: Europe/Sofia
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/ping
                    port: 2468
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
            securityContext:
              privileged: false
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 2000
        runAsGroup: 2000
        fsGroup: 2000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }

    service:
      app:
        controller: cross-seed
        ports:
          http:
            port: 2468

    ingress:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/target: internal.darkfellanetwork.com
          cert-manager.io/cluster-issuer: zerossl-prod
          cert-manager.io/private-key-rotation-policy: Always
          cert-manager.io/private-key-algorithm: ECDSA
          cert-manager.io/private-key-size: "384"
        className: internal
        tls:
          - hosts:
              - &host "{{ .Release.Name }}.darkfellanetwork.com"
            secretName: cross-seed-tls
        hosts:
          - host: *host
            paths:
              - path: /api
                service:
                  identifier: app
                  port: http

    persistence:
      config:
        type: emptyDir
      config-file:
        type: secret
        name: cross-seed-secret
        defaultMode: 0400
        globalMounts:
          - path: /config/config.js
            subPath: config.js
            readOnly: true
      qbittorrent:
        existingClaim: qbittorrent-config
        globalMounts:
          - path: /qBittorrent/BT_backup
            subPath: qBittorrent/BT_backup
      media:
        type: nfs
        server: 192.168.91.40
        path: /mnt/exos20/data
        globalMounts:
          - path: /data/downloads/torrents
            subPath: downloads/torrents
