---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  - ./cdi-operator/ks.yaml
  - ./kubevirt/ks.yaml
  - ./kubevirt-manager/ks.yaml
  - ./virtual-machines/truenas-scale/ks.yaml
  - ./virtual-machines/windows-server/ks.yaml
