---
apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  name: windows-server-2025
spec:
  runStrategy: Always
  template:
    metadata:
      labels:
        kubevirt.io/domain: windows-server-2025
    spec:
      priorityClassName: system-node-critical
      networks:
        - name: bridge
          multus:
            default: true
            networkName: virtualization/windows-vm
      domain:
        clock:
          timer:
            hpet:
              present: false
            hyperv:
              present: true
            pit:
              present: false
            rtc:
              present: false
        cpu:
          model: host-passthrough
          dedicatedCpuPlacement: true
          isolateEmulatorThread: true
        ioThreadsPolicy: auto
        memory:
          hugepages:
            pageSize: "2Mi"
        features:
          acpi: {}
          apic: {}
          smm: {}
          hypervPassthrough:
            enabled: true
          pvspinlock:
            enabled: true
        firmware:
          bootloader:
            efi: {}
        devices:
          autoattachVSOCK: false
          autoattachInputDevice: true
          autoattachMemBalloon: false
          autoattachGraphicsDevice: true
          inputs:
            - type: tablet
              bus: virtio
              name: tablet
          interfaces:
            - name: bridge
              bridge: {}
              model: virtio
          rng: {}
          tpm: {}
          disks:
            - disk:
                bus: virtio
              name: os-disk
              bootOrder: 1
            - name: virtio-drivers
              cdrom:
                readonly: true
                bus: sata
            #- name: sysprep
              #cdrom:
                #bus: sata
        machine:
          type: q35
        resources:
          requests:
            cpu: 4
            memory: 4Gi
          limits:
            cpu: 4
            memory: 4Gi
      volumes:
      #- name: sysprep
        #sysprep:
          #secret:
            #name: sysprep-secret
      - dataVolume:
          name: windows-server-2025-os-disk
        name: os-disk
      - dataVolume:
          name: windows-virtio-drivers
        name: virtio-drivers

  dataVolumeTemplates:
    - metadata:
        name: windows-server-2025-os-disk
      spec:
        storage:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 96Gi
        source:
          registry:
            url: "docker://ghcr.io/d4rkfella/windows-server-2025-vm-disk@sha256:a75986558e1355667b7900a9e06e1553eb33e0c2907321994c9a43b75a8dbc63"
            secretRef: endpoint-secret

    - metadata:
        name: windows-virtio-drivers
      spec:
        storage:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 2Gi
        source:
          http:
            url: "https://fedorapeople.org/groups/virt/virtio-win/direct-downloads/latest-virtio/virtio-win.iso"
