---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbitmanage
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  driftDetection:
    mode: enabled
  values:
    controllers:
      qbitmanage:
        annotations:
          reloader.stakater.com/auto: "true"
        type: cronjob
        cronjob:
          schedule: 0 * * * *
          backoffLimit: 0
          timeZone: Europe/Sofia
          concurrencyPolicy: Forbid
          successfulJobsHistory: 1
          failedJobsHistory: 1
          ttlSecondsAfterFinished: 3600
        containers:
          app:
            image:
              repository: ghcr.io/stuffanthings/qbit_manage
              tag: v4.2.1@sha256:e9e7888df6f63fddc8d5326f7bd308d523c181ec28c67357f67167592c41b7b3
            env:
              TZ: Europe/Sofia
              QBT_RUN: true
              QBT_WIDTH: 100
              QBITTORRENT_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: &secret qbitmanage-secret
                    key: QBITTORRENT_USERNAME
              QBITTORRENT_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: *secret
                    key: QBITTORRENT_PASSWORD
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi
            lifecycle:
              postStart:
                exec:
                  command: ["/bin/sh", "-c", "cp /tmp/config.yml /config/config.yml"]
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

    defaultPodOptions:
      hostAliases:
        - ip: "192.168.91.52"
          hostnames:
            - "qbittorrent.darkfellanetwork.com"
      securityContext:
        runAsNonRoot: true
        runAsUser: 65532
        runAsGroup: 65532
        fsGroup: 65532
        fsGroupChangePolicy: Always
        seccompProfile: { type: RuntimeDefault }

    persistence:
      config:
        type: emptyDir
        globalMounts:
          - path: /app/config
          - path: /config

      config-file:
        type: configMap
        name: "{{ .Release.Name }}-configmap"
        globalMounts:
          - path: /tmp/config.yml
            subPath: config.yml
            readOnly: true

      media:
        type: nfs
        server: 192.168.91.40
        path: /mnt/exos20/data
        globalMounts:
          - path: /data/downloads/torrents
            subPath: downloads/torrents
