---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cilium
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: cilium
  values:
    cni:
      exclusive: false
    enableIPv4BIGTCP: true
    autoDirectNodeRoutes: true
    bandwidthManager:
      enabled: true
      bbr: true
    bpf:
      masquerade: true
      preallocateMaps: true
      tproxy: false
      datapathMode: netkit
    l7Proxy: false
    cgroup:
      automount:
        enabled: false
      hostRoot: /sys/fs/cgroup
    devices: "eth0"
    envoy:
      enabled: false
    hubble:
      enabled: false
    cluster:
      id: 1
      name: main
    endpointRoutes:
      enabled: true
    ciliumEndpointSlice:
      enabled: true
    ipam:
      mode: kubernetes
    ipv4NativeRoutingCIDR: 172.16.0.0/16
    k8sServiceHost: 127.0.0.1
    k8sServicePort: 7445
    kubeProxyReplacement: true
    kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256
    l2announcements:
      enabled: true
    loadBalancer:
      algorithm: random
      mode: snat
    socketLB:
      enabled: false
    localRedirectPolicy: true
    operator:
      dashboards:
        enabled: true
      prometheus:
        enabled: true
        serviceMonitor:
          enabled: true
      replicas: 1
      rollOutPods: true
    dashboards:
      enabled: true
    prometheus:
      enabled: true
      serviceMonitor:
        enabled: true
        trustCRDsExist: true
    rollOutCiliumPods: true
    routingMode: native
    securityContext:
      capabilities:
        ciliumAgent:
          - BPF
          - CHOWN
          - DAC_OVERRIDE
          - FOWNER
          - IPC_LOCK
          - KILL
          - NET_ADMIN
          - NET_RAW
          - PERFMON
          - SETGID
          - SETUID
          - SYS_ADMIN
          - SYS_RESOURCE
        cleanCiliumState:
          - NET_ADMIN
          - SYS_ADMIN
          - SYS_RESOURCE
