---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app artifactory
spec:
  dependsOn:
    - name: cloudnative-pg-cluster
      namespace: database
    - name: keycloak-instance
      namespace: keycloak
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/apps/artifactory/artifactory/manifests
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
  interval: 1h
  timeout: 5m
  retryInterval: 2m
