---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app cdi-operator
spec:
  interval: 30m
  chart:
    spec:
      verify:
        provider: cosign
      chart: app-template
      version: 3.6.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      propagateGlobalMetadataToPods: true
    serviceAccount:
      create: true
      name: *app
    controllers:
      cdi-operator:
        labels:
          cdi.kubevirt.io: cdi-operator
          operator.cdi.kubevirt.io: ""
          prometheus.cdi.kubevirt.io: "true"
          name: cdi-operator
        containers:
          cdi-operator:
            image:
              repository: quay.io/kubevirt/cdi-operator
              tag: v1.61.0@sha256:a5d4ec822933ae686fae9b29e701c02296f9c70b3dcb4380b33f341512662851
            env:
              DEPLOY_CLUSTER_RESOURCES: "true"
              OPERATOR_VERSION: v1.61.0
              CONTROLLER_IMAGE: quay.io/kubevirt/cdi-controller:v1.61.0
              IMPORTER_IMAGE: quay.io/kubevirt/cdi-importer:v1.61.0
              CLONER_IMAGE: quay.io/kubevirt/cdi-cloner:v1.61.0
              OVIRT_POPULATOR_IMAGE: quay.io/kubevirt/cdi-importer:v1.61.0
              APISERVER_IMAGE: quay.io/kubevirt/cdi-apiserver:v1.61.0
              UPLOAD_SERVER_IMAGE: quay.io/kubevirt/cdi-uploadserver:v1.61.0
              UPLOAD_PROXY_IMAGE: quay.io/kubevirt/cdi-uploadproxy:v1.61.0
              VERBOSITY: "1"
              PULL_POLICY: IfNotPresent
              MONITORING_NAMESPACE: observability
            ports:
              - containerPort: 8080
                name: metrics
                protocol: TCP
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              runAsNonRoot: true
              seccompProfile:
                type: RuntimeDefault

    defaultPodOptions:
      nodeSelector:
        kubernetes.io/os: linux
      affinity:
        podAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - podAffinityTerm:
                labelSelector:
                  matchExpressions:
                  - key: cdi.kubevirt.io
                    operator: In
                    values:
                    - cdi-operator
                topologyKey: kubernetes.io/hostname
              weight: 1
      tolerations:
        - key: CriticalAddonsOnly
          operator: Exists
      securityContext:
        runAsNonRoot: true

    rbac:
      roles:
        namespaced:
          enabled: true
          type: Role
          rules:
            - apiGroups:
              - rbac.authorization.k8s.io
              resources:
              - rolebindings
              - roles
              verbs:
              - get
              - list
              - watch
              - create
              - update
              - delete
            - apiGroups:
              - ""
              resources:
              - serviceaccounts
              - configmaps
              - events
              - secrets
              - services
              verbs:
              - get
              - list
              - watch
              - create
              - update
              - patch
              - delete
            - apiGroups:
              - apps
              resources:
              - deployments
              - deployments/finalizers
              verbs:
              - get
              - list
              - watch
              - create
              - update
              - delete
            - apiGroups:
              - route.openshift.io
              resources:
              - routes
              - routes/custom-host
              verbs:
              - get
              - list
              - watch
              - create
              - update
            - apiGroups:
              - config.openshift.io
              resources:
              - proxies
              verbs:
              - get
              - list
              - watch
            - apiGroups:
              - monitoring.coreos.com
              resources:
              - servicemonitors
              - prometheusrules
              verbs:
              - get
              - list
              - watch
              - create
              - delete
              - update
              - patch
            - apiGroups:
              - coordination.k8s.io
              resources:
              - leases
              verbs:
              - get
              - create
              - update
            - apiGroups:
              - ""
              resources:
              - secrets
              - configmaps
              verbs:
              - get
              - list
              - watch
              - create
            - apiGroups:
              - ""
              resources:
              - configmaps
              verbs:
              - get
              - list
              - watch
              - create
              - update
              - delete
            - apiGroups:
              - ""
              resources:
              - secrets
              verbs:
              - get
              - list
              - watch
            - apiGroups:
              - batch
              resources:
              - cronjobs
              verbs:
              - get
              - list
              - watch
              - create
              - update
              - deletecollection
            - apiGroups:
              - batch
              resources:
              - jobs
              verbs:
              - create
              - deletecollection
              - list
              - watch
            - apiGroups:
              - coordination.k8s.io
              resources:
              - leases
              verbs:
              - get
              - create
              - update
            - apiGroups:
              - networking.k8s.io
              resources:
              - ingresses
              verbs:
              - get
              - list
              - watch
            - apiGroups:
              - route.openshift.io
              resources:
              - routes
              verbs:
              - get
              - list
              - watch
            - apiGroups:
              - ""
              resources:
              - configmaps
              verbs:
              - get
            - apiGroups:
              - ""
              resources:
              - services
              - endpoints
              - pods
              verbs:
              - get
              - list
              - watch
        cluster:
          enabled: true
          type: ClusterRole
          rules:
            - apiGroups:
              - rbac.authorization.k8s.io
              resources:
              - clusterrolebindings
              - clusterroles
              verbs:
              - get
              - list
              - watch
              - create
              - update
              - delete
            - apiGroups:
              - security.openshift.io
              resources:
              - securitycontextconstraints
              verbs:
              - get
              - list
              - watch
              - update
              - create
            - apiGroups:
              - apiextensions.k8s.io
              resources:
              - customresourcedefinitions
              - customresourcedefinitions/status
              verbs:
              - get
              - list
              - watch
              - create
              - update
              - delete
            - apiGroups:
              - cdi.kubevirt.io
              - upload.cdi.kubevirt.io
              resources:
              - '*'
              verbs:
              - '*'
            - apiGroups:
              - admissionregistration.k8s.io
              resources:
              - validatingwebhookconfigurations
              - mutatingwebhookconfigurations
              verbs:
              - create
              - list
              - watch
            - apiGroups:
              - admissionregistration.k8s.io
              resourceNames:
              - cdi-api-dataimportcron-validate
              - cdi-api-populator-validate
              - cdi-api-datavolume-validate
              - cdi-api-validate
              - objecttransfer-api-validate
              resources:
              - validatingwebhookconfigurations
              verbs:
              - get
              - update
              - delete
            - apiGroups:
              - admissionregistration.k8s.io
              resourceNames:
              - cdi-api-datavolume-mutate
              - cdi-api-pvc-mutate
              resources:
              - mutatingwebhookconfigurations
              verbs:
              - get
              - update
              - delete
            - apiGroups:
              - apiregistration.k8s.io
              resources:
              - apiservices
              verbs:
              - get
              - list
              - watch
              - create
              - update
              - delete
            - apiGroups:
              - authorization.k8s.io
              resources:
              - subjectaccessreviews
              verbs:
              - create
            - apiGroups:
              - ""
              resources:
              - configmaps
              verbs:
              - get
              - list
              - watch
            - apiGroups:
              - ""
              resources:
              - persistentvolumeclaims
              verbs:
              - get
              - list
              - watch
            - apiGroups:
              - ""
              resources:
              - persistentvolumes
              verbs:
              - get
              - list
              - watch
            - apiGroups:
              - storage.k8s.io
              resources:
              - storageclasses
              verbs:
              - get
              - list
              - watch
            - apiGroups:
              - ""
              resources:
              - namespaces
              verbs:
              - get
            - apiGroups:
              - snapshot.storage.k8s.io
              resources:
              - volumesnapshots
              verbs:
              - get
              - list
              - watch
            - apiGroups:
              - cdi.kubevirt.io
              resources:
              - datavolumes
              verbs:
              - list
              - get
            - apiGroups:
              - cdi.kubevirt.io
              resources:
              - datasources
              verbs:
              - get
            - apiGroups:
              - cdi.kubevirt.io
              resources:
              - volumeclonesources
              verbs:
              - get
              - list
              - watch
            - apiGroups:
              - cdi.kubevirt.io
              resources:
              - storageprofiles
              verbs:
              - get
              - list
              - watch
            - apiGroups:
              - cdi.kubevirt.io
              resources:
              - cdis
              verbs:
              - get
              - list
              - watch
            - apiGroups:
              - cdi.kubevirt.io
              resources:
              - cdiconfigs
              verbs:
              - get
              - list
              - watch
            - apiGroups:
              - cdi.kubevirt.io
              resources:
              - cdis/finalizers
              verbs:
              - update
            - apiGroups:
              - ""
              resources:
              - events
              verbs:
              - create
              - patch
            - apiGroups:
              - ""
              resources:
              - persistentvolumeclaims
              verbs:
              - get
              - list
              - watch
              - create
              - update
              - delete
              - deletecollection
              - patch
            - apiGroups:
              - ""
              resources:
              - persistentvolumes
              verbs:
              - get
              - list
              - watch
              - update
            - apiGroups:
              - ""
              resources:
              - persistentvolumeclaims/finalizers
              - pods/finalizers
              verbs:
              - update
            - apiGroups:
              - ""
              resources:
              - pods
              - services
              verbs:
              - get
              - list
              - watch
              - create
              - delete
            - apiGroups:
              - ""
              resources:
              - configmaps
              verbs:
              - get
              - create
            - apiGroups:
              - storage.k8s.io
              resources:
              - storageclasses
              - csidrivers
              verbs:
              - get
              - list
              - watch
            - apiGroups:
              - config.openshift.io
              resources:
              - proxies
              - infrastructures
              verbs:
              - get
              - list
              - watch
            - apiGroups:
              - config.openshift.io
              resources:
              - clusterversions
              verbs:
              - get
            - apiGroups:
              - cdi.kubevirt.io
              resources:
              - '*'
              verbs:
              - '*'
            - apiGroups:
              - snapshot.storage.k8s.io
              resources:
              - volumesnapshots
              - volumesnapshotclasses
              - volumesnapshotcontents
              verbs:
              - get
              - list
              - watch
              - create
              - delete
            - apiGroups:
              - snapshot.storage.k8s.io
              resources:
              - volumesnapshots
              verbs:
              - update
              - deletecollection
            - apiGroups:
              - apiextensions.k8s.io
              resources:
              - customresourcedefinitions
              verbs:
              - get
              - list
              - watch
            - apiGroups:
              - scheduling.k8s.io
              resources:
              - priorityclasses
              verbs:
              - get
              - list
              - watch
            - apiGroups:
              - image.openshift.io
              resources:
              - imagestreams
              verbs:
              - get
              - list
              - watch
            - apiGroups:
              - ""
              resources:
              - secrets
              verbs:
              - create
            - apiGroups:
              - kubevirt.io
              resources:
              - virtualmachines/finalizers
              verbs:
              - update
            - apiGroups:
              - forklift.cdi.kubevirt.io
              resources:
              - ovirtvolumepopulators
              - openstackvolumepopulators
              verbs:
              - get
              - list
              - watch
            - apiGroups:
              - ""
              resources:
              - persistentvolumeclaims
              verbs:
              - get
            - apiGroups:
              - cdi.kubevirt.io
              resources:
              - dataimportcrons
              verbs:
              - get
              - list
              - update
      bindings:
        cluster:
          enabled: true
          type: ClusterRoleBinding
          roleRef:
            identifier: cluster
          subjects:
            - identifier: default
        namespaced:
          enabled: true
          type: RoleBinding
          roleRef:
            identifier: namespaced
          subjects:
            - identifier: default
