---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: loki-oidc-client-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: hashicorp-vault
  target:
    name: loki-oidc-client-secret
  dataFrom:
    - extract:
        key: secrets/loki
